<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.write.notice.StBrowseWriteDao">
	<resultMap id="StBrowseResult" type="com.phkj.entity.notice.StBrowse">
			<result property="id" column="id" />
			<result property="noticeId" column="notice_id" />
			<result property="browseVolume" column="browse_volume" />
			<result property="createId" column="create_id" />
			<result property="createTime" column="create_time" />
			<result property="modifyId" column="modify_id" />
			<result property="modifyTime" column="modify_time" />
			<result property="sts" column="sts" />
	</resultMap>
	
	<update id="update" parameterType="com.phkj.entity.notice.StBrowse">
        update `st_applet_browse` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="noticeId != null">`notice_id`= #{noticeId},</if>
			<if test="browseVolume != null">`browse_volume`= #{browseVolume},</if>
			<if test="createId != null">`create_id`= #{createId},</if>
			<if test="createTime != null">`create_time`= #{createTime},</if>
			<if test="modifyId != null">`modify_id`= #{modifyId},</if>
			<if test="modifyTime != null">`modify_time`= #{modifyTime},</if>
			<if test="sts != null">`sts`= #{sts}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.phkj.entity.notice.StBrowse" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`st_applet_browse`
		(
			
			`notice_id`,
			`browse_volume`,
			`create_id`,
			`create_time`,
			`modify_id`,
			`modify_time`,
			`sts`
		)
		values
		(
			
			#{noticeId},
			#{browseVolume},
			#{createId},
			#{createTime},
			#{modifyId},
			#{modifyTime},
			#{sts}
		)
	</insert>
	
</mapper>