.nav-2-bar{
	height: 40px;
	background: #fff;
	border-top:solid 1px #dedede;
	border-bottom:solid 1px #dedede;
	text-align: center;
	color: #9a9a9a;
}
.nav-2-bar div{
	border-right:solid 1px #dedede;
}
.nav-2-bar div:last-child{
   border-right:0;
}
.list-dl{
	border-bottom:solid 1px #dedede;
	padding:8px;
	background: #fff;
}
.product_name{
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 19px;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #252525;
}
.ratings{
	color: #848689;
	font-size: 12px;
}
.product-desript{
	padding-top:15px;
}
.slidebar{
	position: absolute;
	top: 0;
	right:0;
	width: 90%;
	height: 100%;
	overflow-y: scroll;
	background: #fff;
	visibility:hidden;
	-webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-delay: 3s;
    z-index: 9;
}
.slidebar .head-bar{
	background: #fff;
	border-bottom: solid 1px #dedede;

}
.menubox h2{
	height: 40px;
	border-bottom: solid 1px #dedede;
	font-size: 16px;
	line-height: 40px;
	padding:0 8px;
}
.menu-2-ul{
	font-size: 14px;
	padding:0 15px;
	background: #fff;
	display: none;
}
.menu-2-ul li{
	height: 30px;
	border-bottom: dashed 1px #dedede;
	line-height: 30px;
}
.menu-2-ul li span{
	display: none;
}
.menu-2-ul li:last-child{
	border-bottom: 0;
}
.menu-2-ul .form-control{
	width: 30%;
	margin:10px;
	display: inline-block;
}
.push{
	-webkit-transform:translateX(2.5rem);
	-moz-transform:translateX(2.5rem);
	-o-transform:translateX(2.5rem);
	transform:translateX(2.5rem);
	-webkit-box-shadow: -3px -3px 6px rgba(0,0,0,0.8);
    box-shadow: -3px -3px 6px rgba(0,0,0,0.8);
}
.pull { 
	-webkit-transform: translate3d(-90%, 0px, 0px); 
	-moz-transform: translate3d(-90%, 0px, 0px); 
	transform: translate3d(-90%, 0px, 0px); 
	-moz-box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.8); 
	-o-box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.8); 
	-webkit-box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.8); 
	box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.8) }
.push_msk{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.show{
	visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.s-container{
  padding:0;
  margin: 0;
  /*background: #f2f2f2;*/
  /*height: 100%;*/
 
 
}
.fa-angle-down{
	-webkit-transition: all 0.3s cubic-bezier(0.165,0.84,0.44,1);
   transition: all 0.3s cubic-bezier(0.165,0.84,0.44,1);
}
.addangle-down{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.goods-infor{
	padding: 10px;
}
.prod-price{
	font-size: 24px;
	color: #f15353;
}
.sel-btn .btn{
	margin:0 5px 10px 0;
}
/*.quantity-decrease, .quantity, .quantity-increase{
	float: left;
  font-size: 13px;
  text-align: center;
  height: 100%;
}
.quantity-increase em,.quantity-decrease em{
	font-size: 20px;
	font-style: normal;
}
.quantity-decrease, .quantity-increase {
  background: #fff;
  border: 1px solid #848689;
  color: #666;
  display: block;
  line-height: 24px;
  width: 24px;
  overflow: hidden;
}*/
.fa-minus-square,.fa-plus-square{
	font-size: 24px;
	color: #e8e8e8;
}
.quantity{
	text-align: center;
	vertical-align: 2px;
}
.salesty{
	font-size: 12px;
	color: #f15353;
}
.fixed-nav{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	/*line-height: 50px;*/
	text-align: center;
	z-index: 999;
	color: #fff;
	background: #000;
}
.fixed-nav span{
	display: block;
	font-size:22px;
}
.yellow-cart{
	background: #ffb03f;
	line-height: 50px;
}
.red-cart{
	background: #f15353;
	line-height: 50px;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover{
	border:solid 1px #f15353;
	background: #fff;
	color: #f15353;
}
.goods-nav{
	height: 42px;
	background: #fff;

}
.goods-nav div{
  border-right: solid 1px #dedede;
  text-align: center;
  height: 42px;
  line-height: 42px;
  border-bottom: solid 1px #dedede;

}
.goods-nav div:last-child{
	boeder-right:0;
}
.goods-nav .active{
	color: #f15353;
	border-bottom: solid 1px #f15353;
}
.bgff{
  background: #fff;
}
.evaluation{
	font-size: 14px;
}
.evaluation font{
	font-size: 30px;
	color: #d5124a;
}
.perecnt{
	height: 10px;
	background: #f2f2f2;
	margin:0 8px;
	overflow: hidden;
}
.perecnt span{
	/*width: 20%;*/
	display: inline-block;
	height: 10px;
	background: #f15353;
	/*margin-top:-5px;*/
}
.evaluat-nav{
	background: #f2f2f2;
	padding:10px 0;
	margin:10px 0;
	color: #9a9a9a;
}
.evaluat-nav div{
	border-right: solid 1px #dedede;
	text-align: center;
}
.evaluat-nav div:last-child{
	border-right: 0;
}
.fa-star-o{
	font-size: 22px;
	color: #f15353;
}
.content-list{
	font-size: 14px;
	display: none;
}
.goods-table{
	/*border-collapse: collapse;*/
	border-top: solid 1px #dedede;
	margin: 10px 0;
	background: #fff;

}
.goods-table td{
	border:solid 1px #dedede;
	/*width: 48%;*/
	padding:10px;
	
	width: 50%;
}
.textareabox{
	position: relative;
	margin:20px 0 10px 0;
	display: none;
}
/*#consult-btn:avtive,#consult-btn:focus,#consult-btn:hover{
	background: #fff;
	border-color: #ccc;
}*/
.textareabox .arrow-up,.consult-dl .arrow-up{
	display: block;
	position: absolute;
	top: -15px;
	right: 20px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #dedede;
	background: #fff;
}
.textareabox .arrow-up2,.consult-dl .arrow-up2{
	display: block;
	position: absolute;
	top: -12px;
	right: 22px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #fff;
}
.consult-dl .addlef{
	left: 20px;
	right: 0;
}
.consult-dl .addlef2{
    left: 22px;
    right: auto;
}

.textareabox textarea{
	width: 100%;
	border:solid 1px #dedede;
}
.consult-dl dt{
  font-weight: normal;
}
.consult-dl img{
	vertical-align: text-bottom;
	margin:0 10px;
}
.consult-dl dd{
	position: relative;
	margin-top: 20px;
}
.consult_text{
	height: 80px;
	overflow-y:auto;
	font-size: 12px;
}
.menunav{
	width: 90px;
	height: 100%;
	overflow: hidden;
	background: #fff;
	
	border-top: solid 1px #dedede;
}
.menunav .swiper-slide{
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #dedede;
	border-right: solid 1px #dedede;
	text-align: center;
	background: #f2f2f2;
}
.menunav .slide-active{
	background: #fff;
	color: #f15353;
	border-right:solid 1px #fff;
}
.menu-group{
	background: #fff;
	overflow-y:auto;
}
.menu-group-level dt{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #888;
}
.level-3 a{
   color: #000;
   display: inline-block;
   padding:0 0 10px 10px;
   width: 32%;
}

/*会员中心*/
.address-list{
	border:solid 1px #999;
	border-radius: 4px;
	color: #6e6e6e;
}
.address-list dt{
  border-bottom: solid 1px #999;
  padding: 8px;
}
.fa-map-marker{
	font-size: 20px;
	margin-right: 8px;
}
.adresbtn,.adresbtn:hover{
	background: #cc0001;
	color: #fff;
}
#addresform label{
  color: #333;
  font-weight: normal;
}
.btn.col_cancelbtn,.btn.col_cancelbtn:hover,a.btn-sm,a.btn-sm:hover,a.btn-sm:focus{
	position: absolute;
	background: #bdbdbd;
	right: 10px;
	bottom: 15px;
	border:solid 1px #ccc;
	color: #666;
}

.cole-dt{
	width: 100px;
	height: 100px;
	background: #fff;
}
.oder-list{
	background: #fff;
	padding:10px 0;
	margin-bottom: 10px;
}
.oder-list h2{
	border-bottom: solid 1px #f2f2f2;
	padding:0 10px 10px 10px;
}
.img-ul{
	padding:15px 10px;
}
.img-ul li{
	float: left;
	width: 50px;
	height: 50px;
	border:solid 1px #f2f2f2;
	border-radius: 4px;
	margin-right: 10px;
}
.img-ul li img,.img-ul dt img{
	max-width: 100%;
}
.paybtn,.paybtn:focus,.paybtn:hover{
	border:solid 1px #f15353;
	color:#f15353;
	padding:0 10px;
	border-radius: 4px; 
}
.order-status{
	padding:10px 10px 0 10px;
	border-top: solid 1px #f2f2f2;
	font-size: 13px;
}
.img-ul dt{
	width: 50px;
	height: 50px;
	border:solid 1px #f2f2f2;
	border-radius: 4px;
	margin-right: 10px;

}
.goods-sun{
	background: #fff;
	padding:10px;
	font-size: 12px;
}
.goods-sun .cla4:hover,.goods-sun .cla4:focus{
  color: #a40000;text-decoration: none;
}

.starbox{
	border-top:solid 1px #f2f2f2;
	position: relative;
	border:solid 1px #edf9e5;
	border-radius: 4px;
	background: #edf9e5;
}
.starlist{
	padding-top: 10px;
}
.starlist span{float: left; width: 100px; text-align: right; padding-right: 5px;}
.star{
	float: left;
}
.star1,.star2,.star3,.star4{
	float: left;
}
.stararrow-up{
	position: absolute;
	top: -11px;
	right: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #edf9e5;
	background: #fff;
}
.expertxt{
	height: 40px;
	overflow-y:auto; 
}
.evalute-list{display: none;}
.evalute-list2{
	display: block;
}
.cart-h2{
	background: #dedede;
	border-bottom: solid 1px #dedede;
}
.cart-h2 input[type=checkbox]{
  width: 15px;
  height: 15px;
  border:solid 1px #dedede;

}
.cart-h2 span{

 vertical-align: middle;
}
.cart_delate{
   position: absolute;
   right: 10px;
   bottom: 10px;
   font-size: 24px;
   color: #999;
}
.checksty{
	padding-right:5px;
}
.checksty input{
	width: 15px;
	height: 15px;
	margin-top: 30px;
}
.cart-ul{
	padding: 0;
	margin:10px;
}
.cartPrice{
	color: #f15353;
	margin-left: 30px;
	border-top:solid 1px #dedede;
	padding-top: 10px;
}
.totallayer{
	width: 100%;
	background: RGBA(0,0,0,0.8)!important;
	height: 57px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
}
.go-pay{
	height: 100%;
	background: #f15353;
	color: #fff;
	line-height: 57px;
}
.order-d-box{
	background: #fff;
	border-top:solid 1px #dedede;
	border-bottom:solid 1px #dedede;
	margin: 10px 0;
	padding:10px;
	color: #707070;
	line-height: 30px;
}
.o-d-btn1,.o-d-btn1:hover,.o-d-btn1:focus{
	background: #c00000;
	color: #fff;
	border:solid 1px #c00000;
}
.o-d-btn2,.o-d-btn2:hover{
	background: #bf9d5a;
	border:solid 1px #bf9d5a;
	margin-left: 10px;
}
.o-u-infor{
	margin-right: 10px;
}
.o-u-infor .fa-user,.o-u-infor .fa-phone{
	color: #f15353;
	font-size: 20px;
}
.bgfaf3{
  background: #fffaf3;
}