.sub_nav{
	width:100%;
	overflow:hidden;
	/* background-color: #fff; */
}

 .sub_nav li{
 	width: 25%;
 	height: 90px;
 	margin-bottom: 1px;
 	float:left;

 	/* background-color: #fff; */

 }
 .sub_nav a{
	
 	display: block;
	margin-right: 1px;
	height: 140px;
	/* background-color:#fff; */
	position: relative;
	text-align: center;
	line-height: 165px;
	font-size: 16px;
	color: #000;
 }
.sub_nav a:before{
	width: 102px;
	height: 102px;
	position:absolute;
	margin-left: 27px;
	content:'';
	left:50%;
	top: 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	
	
}
.sub_nav li:nth-child(1) a:before{
	background: url('../img/icon/icon_brand.png') 0 0 no-repeat;
	/* background-position:0 -30px; */
	background-size: 51px 51px;
}
.sub_nav li:nth-child(2) a:before{
	background: url('../img/icon/icon_bare.png') 0 0 no-repeat;
	background-size: 51px 51px;
}

.sub_nav li:nth-child(3) a:before{
background: url('../img/icon/icon_fast.png') 0 0 no-repeat;
background-size: 51px 51px;
	
}
.sub_nav li:nth-child(4) a:before{
	background: url('../img/icon/icon_hot.png') 0 0 no-repeat;
	background-size: 51px 51px;
	
}
.sub_nav li:nth-child(5) a:before{
	background: url('../img/icon/icon_new.png') 0 0 no-repeat;
	background-size: 51px 51px;
}
.sub_nav li:nth-child(6) a:before{
	background: url('../img/icon/icon_silk.png') 0 0 no-repeat;
	background-size: 51px 51px;
}
.sub_nav li:nth-child(7) a:before{
	background: url('../img/icon/icon_wool.png') 0 0 no-repeat;
	background-size: 51px 51px;
}

.sub_nav li:nth-child(8) a:before{
	background: url('../img/icon/icon_function.png') 0 0 no-repeat;
	background-size: 51px 51px;
}
    	
    	
    	/*底部导航CSS*/
    		#ft{
	position:fixed;
	bottom:0;
	height:48px;
	width:100%;
	text-align:center;
	background:#f9f9f9;
	/* background:#27282c; */
	border-top:1px solid #eeeeee;
	z-index:1000;

}
#ft a{
	width:20%;
	display:block;
	float:left;
	text-align:center;
	font-size:14px;
	color:#000;
	text-decoration:none;
}
#ft a:hover{
	color:#48D1CC ;
}
#ft a span{
	display:block;
	width:70px;
	height:48px;
	margin:0 auto;
}
#ft a em{
	display:block;
	width:30px;
	height:30px;
	margin:0 auto;
}
#ft a:hover .n1{
	background: url('../img/icon/icon_home_click.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a:hover .n2{
	background: url('../img/icon/icon_commodity_click.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a:hover .n3{
	background: url('../img/icon/icon_cart_click.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a:hover .n4{
	background: url('../img/icon/icon_order_click.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a:hover .n5{
	background: url('../img/icon/icon_member_click.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a .n1{
	background: url('../img/icon/icon_home_nor.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a .n2{
	background: url('../img/icon/icon_commodity_nor.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a .n3{
	background: url('../img/icon/icon_cart_nor.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a .n4{
	background: url('../img/icon/icon_order_nor.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a .n5{
	background: url('../img/icon/icon_member_nor.png') 0 0 no-repeat;
	background-size: 30px 30px;
}
#ft a .n4 b{
	position:absolute;
	top:5px;
	right:-18px;
	display:block;
	height:18px;
	width:18px;
	text-align:center;
	line-height: 18px;
	border-radius: 10px;
	background: #C70600;
	color:#fff;
	font-style:normal;
	text-indent:1px;
	font-size:12px;
	font-weight:400;
}


.product{
	margin-top: 8px;
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #ccc;
}
.pro_tit{
	width:100%;
	
	margin:7px 0;
	/* padding:0 10px; */
	position: relative;
	line-height: 46px;
	overflow: hidden;

}
.pro_tmh_tit h2{
	width: 150px;
	height: 25px;
	line-height: 25px;
	font-size:20px;
	border-left:5px solid #27cdf2;
	 text-indent: 8px; 
	color: #000;
	

	
}
.product .tips{
	font-size: 16px;
	width: 80px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: -2px;
	border-radius: 20px;
	text-indent:12px;
	line-height: 30px;
	/* background: -webkit-linear-gradient(left,#ff4f66,#ff6bc7);
	background: linear-gradient(left,#ff4f66,#ff6bc7); */
	color: #8b8b8b;
}
.product .tips:before{
	content: '';
	width: 10px;
	height: 10px;
	border-right: 2px solid #8b8b8b;
	border-bottom: 2px solid #8b8b8b;
	position: absolute;
	right: 20px;
	top: 10px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

   	