<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.read.seller.SellerCateReadDao">
	<resultMap id="SellerCateResult" type="com.ejavashop.entity.seller.SellerCate">
			<result property="id" column="id" />
			<result property="sellerId" column="seller_id" />
			<result property="pid" column="pid" />
			<result property="name" column="name" />
			<result property="path" column="path" />
			<result property="sort" column="sort" />
			<result property="createId" column="create_id" />
			<result property="createTime" column="create_time" />
			<result property="status" column="status" />
	</resultMap>
	
	   
	<!-- 查询条件 -->
	<sql id="Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
			<if test="q_id != null and q_id !=''"  > and `id`= #{q_id}</if>
			<if test="q_sellerId != null and q_sellerId !=''"  > and `seller_id`= #{q_sellerId}</if>
			<if test="q_pid != null and q_pid !=''"  > and `pid`= #{q_pid}</if>
			<if test="q_name != null and q_name !=''"  > and `name`= #{q_name}</if>
			<if test="q_path != null and q_path !=''"  > and `path`= #{q_path}</if>
			<if test="q_sort != null and q_sort !=''"  > and `sort`= #{q_sort}</if>
			<if test="q_createId != null and q_createId !=''"  > and `create_id`= #{q_createId}</if>
			<if test="q_createTime != null and q_createTime !=''"  > and `create_time`= #{q_createTime}</if>
			<if test="q_status != null and q_status !=''"  > and `status`= #{q_status}</if>
		</trim>
	</sql>
	
	
	<select id="get" parameterType="Integer" resultMap="SellerCateResult">
		select
		   *
		from `seller_cate`
		where `id` = #{id}
	</select>
	
	
	 <select id="getByPid" resultType="com.ejavashop.entity.seller.SellerCate">
        select * 
        from `seller_cate` t1
        where pid = #{pid} and `seller_id` = #{sellerId} and `status` = 1
        order by sort desc,id desc
    </select>
	
	<!-- 商家分类 列表总数-->
	<select id="queryCount" resultType="java.lang.Integer"  parameterType="map">
		select count(1) from seller_cate
		<include refid="Where_Clause"/>
	</select>
	  	
	<!-- 查询商家分类列表 -->
	<select id="queryList" resultMap="SellerCateResult"  parameterType="map">
		select 
		  * 
		from seller_cate 
		<include refid="Where_Clause"/>
		
		order by sort desc,id desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	<select id="count" resultType="java.lang.Integer">
        select count(1) from `seller_cate`
        <include refid="whereConditions"/>
    </select>
    
    <select id="countByPid" resultType="java.lang.Integer">
        select count(1) from `seller_cate`
        where `pid` = #{sellerCateId} and `status` = 1
    </select>
    
     <select id="page" resultType="com.ejavashop.entity.seller.SellerCate">
        select
        <include refid="selectColumn"/>
        from `seller_cate`
        <include refid="whereConditions"/>
        order by sort desc,id desc
        <if test="size != null and size &gt; 0">limit {start},{size}</if>
    </select>
    
        <sql id="selectColumn">
        `id`,
        `seller_id`,
        `pid`,
        `name`,
        `path`,
        `sort`,
        `create_id`,
        `create_time`,
        `status`
    </sql>
    
    <sql id="whereConditions">
        <where>
            <if test="id != null and '' != id">
                and `id`= #{id}
            </if>
            <if test="sellerId != null and '' != sellerId">
                and `seller_id`= #{sellerId}
            </if>
            <if test="pid != null and '' != pid">
                and `pid`= #{pid}
            </if>
            <if test="name != null and '' != name">
                and `name`= #{name}
            </if>
            <if test="path != null and '' != path">
                and `path`= #{path}
            </if>
            <if test="sort != null and '' != sort">
                and `sort`= #{sort}
            </if>
            <if test="createId != null and '' != createId">
                and `create_id`= #{createId}
            </if>
            <if test="createTime != null and '' != createTime">
                and `create_time`= #{createTime}
            </if>
            <if test="state != null and '' != state">
                and `state`= #{state}
            </if>
        </where>
    </sql>
	
	
</mapper>