<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shopm.read.relate.StBaseinfoParkingLotOrderDao">
  <resultMap id="BaseResultMap" type="com.phkj.entity.relate.StBaseinfoParkingLotOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parking_lot_id" jdbcType="BIGINT" property="parkingLotId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="wechat_user_id" jdbcType="BIGINT" property="wechatUserId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="sts" jdbcType="CHAR" property="sts" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="top_org_code" jdbcType="VARCHAR" property="topOrgCode" />
    <result column="car_num" jdbcType="VARCHAR" property="carNum" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parking_lot_id, name, phone, house_id, relationship, status, order_time, wechat_user_id, 
    create_user_id, create_time, modify_user_id, modify_time, sts, org_code, top_org_code, 
    car_num, type
  </sql>

  <select id="getAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    id,
    parking_lot_id,
    name,
    phone,
    house_id,
    relationship,
    case status when 'Y' then '使用中' else '未使用' end as status,
    order_time,
    wechat_user_id,
    create_user_id,
    create_time,
    modify_user_id,
    modify_time,
    sts,
    org_code,
    top_org_code,
    car_num,
    case type when 'B' then '访客车位' else '孝心车位' end as type
    FROM
    st_baseinfo_parking_lot_order
    where org_code = #{villageCode}
    <if test="sts != null and sts != ''">
      and status = #{sts}
    </if>
     <if test="type != null and type != ''">
       and type = #{type}
     </if>
    order by create_time desc
  </select>




  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_baseinfo_parking_lot_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from st_baseinfo_parking_lot_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.phkj.entity.relate.StBaseinfoParkingLotOrder">
    insert into st_baseinfo_parking_lot_order (id, parking_lot_id, name, 
      phone, house_id, relationship, 
      status, order_time, wechat_user_id, 
      create_user_id, create_time, modify_user_id, 
      modify_time, sts, org_code, 
      top_org_code, car_num, type
      )
    values (#{id,jdbcType=BIGINT}, #{parkingLotId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{houseId,jdbcType=BIGINT}, #{relationship,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, #{wechatUserId,jdbcType=BIGINT}, 
      #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{sts,jdbcType=CHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{topOrgCode,jdbcType=VARCHAR}, #{carNum,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phkj.entity.relate.StBaseinfoParkingLotOrder">
    insert into st_baseinfo_parking_lot_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parkingLotId != null">
        parking_lot_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="relationship != null">
        relationship,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="wechatUserId != null">
        wechat_user_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="sts != null">
        sts,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="topOrgCode != null">
        top_org_code,
      </if>
      <if test="carNum != null">
        car_num,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parkingLotId != null">
        #{parkingLotId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=BIGINT},
      </if>
      <if test="relationship != null">
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatUserId != null">
        #{wechatUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sts != null">
        #{sts,jdbcType=CHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="topOrgCode != null">
        #{topOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phkj.entity.relate.StBaseinfoParkingLotOrder">
    update st_baseinfo_parking_lot_order
    <set>
      <if test="parkingLotId != null">
        parking_lot_id = #{parkingLotId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=BIGINT},
      </if>
      <if test="relationship != null">
        relationship = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatUserId != null">
        wechat_user_id = #{wechatUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sts != null">
        sts = #{sts,jdbcType=CHAR},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="topOrgCode != null">
        top_org_code = #{topOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null">
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phkj.entity.relate.StBaseinfoParkingLotOrder">
    update st_baseinfo_parking_lot_order
    set parking_lot_id = #{parkingLotId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=BIGINT},
      relationship = #{relationship,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      wechat_user_id = #{wechatUserId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      sts = #{sts,jdbcType=CHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      top_org_code = #{topOrgCode,jdbcType=VARCHAR},
      car_num = #{carNum,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>