<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shopm.read.relate.StBaseinfoResidentinfoDao">
	<resultMap id="StBaseinfoResidentinfoResult" type="com.phkj.entity.relate.StBaseinfoResidentinfo">
			<result property="id" column="id" />
			<result property="name" column="name" />
			<result property="sex" column="sex" />
			<result property="startTime" column="start_time" />
			<result property="endTime" column="end_time" />
			<result property="idNumber" column="id_number" />
			<result property="idAddress" column="id_address" />
			<result property="birthDate" column="birth_date" />
			<result property="nation" column="nation" />
			<result property="age" column="age" />
			<result property="ageSegment" column="age_segment" />
			<result property="validBegin" column="valid_begin" />
			<result property="validEnd" column="valid_end" />
			<result property="ever" column="ever" />
			<result property="capturePicId" column="capture_pic_id" />
			<result property="politicalStatus" column="political_status" />
			<result property="degree" column="degree" />
			<result property="maritalStatus" column="marital_status" />
			<result property="householdRegisterType" column="household_register_type" />
			<result property="hasPermit" column="has_permit" />
			<result property="permitImg" column="permit_img" />
			<result property="householdRegisterCode" column="household_register_code" />
			<result property="householdRegisterAddress" column="household_register_address" />
			<result property="mobile" column="mobile" />
			<result property="qq" column="qq" />
			<result property="wechat" column="wechat" />
			<result property="contactor" column="contactor" />
			<result property="contactorMobile" column="contactor_mobile" />
			<result property="guardian" column="guardian" />
			<result property="hasHouseholder" column="has_householder" />
			<result property="remark" column="remark" />
			<result property="lastDoorTime" column="last_door_time" />
			<result property="createTime" column="create_time" />
			<result property="createUserId" column="create_user_id" />
			<result property="modifyTime" column="modify_time" />
			<result property="modifyUserId" column="modify_user_id" />
			<result property="sts" column="sts" />
			<result property="carNo" column="car_no" />
			<result property="encryptionIdNumber" column="encryption_id_number" />
			<result property="orgCode" column="org_code" />
			<result property="topOrgCode" column="top_org_code" />
			<result property="residentiaId" column="residentia_id" />
			<result property="subareaId" column="subarea_id" />
			<result property="label" column="label" />
			<result property="nationality" column="nationality" />
			<result property="warning" column="warning" />
	</resultMap>
	
	<select id="get" parameterType="Long" resultMap="StBaseinfoResidentinfoResult">
		select
		   *
		from `st_baseinfo_residentinfo`
		where `id` = #{id}
	</select>
	
	<select id="getResidentinfo" resultMap="StBaseinfoResidentinfoResult">
	    select
		   *
		from `st_baseinfo_residentinfo`
		where `mobile` = #{phone}
	</select>
	
	<update id="update" parameterType="com.phkj.entity.relate.StBaseinfoResidentinfo">
        update `st_baseinfo_residentinfo` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="name != null">`name`= #{name},</if>
			<if test="sex != null">`sex`= #{sex},</if>
			<if test="startTime != null">`start_time`= #{startTime},</if>
			<if test="endTime != null">`end_time`= #{endTime},</if>
			<if test="idNumber != null">`id_number`= #{idNumber},</if>
			<if test="idAddress != null">`id_address`= #{idAddress},</if>
			<if test="birthDate != null">`birth_date`= #{birthDate},</if>
			<if test="nation != null">`nation`= #{nation},</if>
			<if test="age != null">`age`= #{age},</if>
			<if test="ageSegment != null">`age_segment`= #{ageSegment},</if>
			<if test="validBegin != null">`valid_begin`= #{validBegin},</if>
			<if test="validEnd != null">`valid_end`= #{validEnd},</if>
			<if test="ever != null">`ever`= #{ever},</if>
			<if test="capturePicId != null">`capture_pic_id`= #{capturePicId},</if>
			<if test="politicalStatus != null">`political_status`= #{politicalStatus},</if>
			<if test="degree != null">`degree`= #{degree},</if>
			<if test="maritalStatus != null">`marital_status`= #{maritalStatus},</if>
			<if test="householdRegisterType != null">`household_register_type`= #{householdRegisterType},</if>
			<if test="hasPermit != null">`has_permit`= #{hasPermit},</if>
			<if test="permitImg != null">`permit_img`= #{permitImg},</if>
			<if test="householdRegisterCode != null">`household_register_code`= #{householdRegisterCode},</if>
			<if test="householdRegisterAddress != null">`household_register_address`= #{householdRegisterAddress},</if>
			<if test="mobile != null">`mobile`= #{mobile},</if>
			<if test="qq != null">`qq`= #{qq},</if>
			<if test="wechat != null">`wechat`= #{wechat},</if>
			<if test="contactor != null">`contactor`= #{contactor},</if>
			<if test="contactorMobile != null">`contactor_mobile`= #{contactorMobile},</if>
			<if test="guardian != null">`guardian`= #{guardian},</if>
			<if test="hasHouseholder != null">`has_householder`= #{hasHouseholder},</if>
			<if test="remark != null">`remark`= #{remark},</if>
			<if test="lastDoorTime != null">`last_door_time`= #{lastDoorTime},</if>
			<if test="createTime != null">`create_time`= #{createTime},</if>
			<if test="createUserId != null">`create_user_id`= #{createUserId},</if>
			<if test="modifyTime != null">`modify_time`= #{modifyTime},</if>
			<if test="modifyUserId != null">`modify_user_id`= #{modifyUserId},</if>
			<if test="sts != null">`sts`= #{sts},</if>
			<if test="carNo != null">`car_no`= #{carNo},</if>
			<if test="encryptionIdNumber != null">`encryption_id_number`= #{encryptionIdNumber},</if>
			<if test="orgCode != null">`org_code`= #{orgCode},</if>
			<if test="topOrgCode != null">`top_org_code`= #{topOrgCode},</if>
			<if test="residentiaId != null">`residentia_id`= #{residentiaId},</if>
			<if test="subareaId != null">`subarea_id`= #{subareaId},</if>
			<if test="label != null">`label`= #{label},</if>
			<if test="nationality != null">`nationality`= #{nationality},</if>
			<if test="warning != null">`warning`= #{warning}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.phkj.entity.relate.StBaseinfoResidentinfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`st_baseinfo_residentinfo`
		(
			
			`name`,
			`sex`,
			`start_time`,
			`end_time`,
			`id_number`,
			`id_address`,
			`birth_date`,
			`nation`,
			`age`,
			`age_segment`,
			`valid_begin`,
			`valid_end`,
			`ever`,
			`capture_pic_id`,
			`political_status`,
			`degree`,
			`marital_status`,
			`household_register_type`,
			`has_permit`,
			`permit_img`,
			`household_register_code`,
			`household_register_address`,
			`mobile`,
			`qq`,
			`wechat`,
			`contactor`,
			`contactor_mobile`,
			`guardian`,
			`has_householder`,
			`remark`,
			`last_door_time`,
			`create_time`,
			`create_user_id`,
			`modify_time`,
			`modify_user_id`,
			`sts`,
			`car_no`,
			`encryption_id_number`,
			`org_code`,
			`top_org_code`,
			`residentia_id`,
			`subarea_id`,
			`label`,
			`nationality`,
			`warning`
		)
		values
		(
			
			#{name},
			#{sex},
			#{startTime},
			#{endTime},
			#{idNumber},
			#{idAddress},
			#{birthDate},
			#{nation},
			#{age},
			#{ageSegment},
			#{validBegin},
			#{validEnd},
			#{ever},
			#{capturePicId},
			#{politicalStatus},
			#{degree},
			#{maritalStatus},
			#{householdRegisterType},
			#{hasPermit},
			#{permitImg},
			#{householdRegisterCode},
			#{householdRegisterAddress},
			#{mobile},
			#{qq},
			#{wechat},
			#{contactor},
			#{contactorMobile},
			#{guardian},
			#{hasHouseholder},
			#{remark},
			#{lastDoorTime},
			#{createTime},
			#{createUserId},
			#{modifyTime},
			#{modifyUserId},
			#{sts},
			#{carNo},
			#{encryptionIdNumber},
			#{orgCode},
			#{topOrgCode},
			#{residentiaId},
			#{subareaId},
			#{label},
			#{nationality},
			#{warning}
		)
	</insert>
	
</mapper>