<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.parter.ParterAreaWriteDao">
	<resultMap id="ParterAreaResult" type="com.ejavashop.entity.parter.ParterArea">
			<result property="id" column="id" />
			<result property="parterSignId" column="parter_sign_id" />
			<result property="provinceId" column="province_id" />
			<result property="cityId" column="city_id" />
			<result property="areaId" column="area_id" />
			<result property="craeteTime" column="craete_time" />
			<result property="updateTime" column="update_time" />
			<result property="createMan" column="create_man" />
			<result property="parterSignName" column="parter_sign_name" />
			<result property="regionName" column="regionName" />
	</resultMap>
	
	<!-- <select id="get" parameterType="Integer" resultMap="ParterAreaResult">
		select
		   *
		from `parter_area`
		where `id` = #{id}
	</select> -->
	
	<update id="update" parameterType="com.ejavashop.entity.parter.ParterArea">
        update `parter_area` 
    	<set>
			<if test="parterSignId != null">`parter_sign_id`= #{parterSignId},</if>
			<if test="provinceId != null">`province_id`= #{provinceId},</if>
			<if test="cityId != null">`city_id`= #{cityId},</if>
			<if test="areaId != null">`area_id`= #{areaId},</if>
			<if test="craeteTime != null">`craete_time`= #{craeteTime},</if>
			<if test="updateTime != null">`update_time`= now(),</if>
			<if test="createMan != null">`create_man`= #{createMan},</if>
			<if test="parterSignName != null">`parter_sign_name`= #{parterSignName}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.ejavashop.entity.parter.ParterArea" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`parter_area`
		(
			`parter_sign_id`,
			`province_id`,
			`city_id`,
			`area_id`,
			`craete_time`,
			`update_time`,
			`create_man`,
			`parter_sign_name`
		)
		values
		(
			#{parterSignId},
			#{provinceId},
			#{cityId},
			#{areaId},
			now(),
			now(),
			#{createMan},
			#{parterSignName}
		)
	</insert>
	
	<!-- <select id="getParterAreaByParterSignId" resultMap="ParterAreaResult">
	  select pa.*,r.regionName as  regionName from `parter_area` as pa left join regions r on r.id = pa.area_id  where `parter_sign_id` = #{parterSignId}
	  <if test="memberAreaId !=null and memberAreaId !=''">
	  		and area_id = #{memberAreaId}
	  </if>
	  and r.regionType = 3 
	</select> -->
	
	<delete id = "deleteParterAreaByParterSignId" parameterType="String">
	   delete from `parter_area` where `parter_sign_id` = #{parterSignId}
	</delete>

</mapper>