<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.read.MemberCarDao">
	<resultMap id="MemberCarResult" type="com.ejavashop.entity.member.MemberCar">
			<result property="id" column="id" />
			<result property="memberId" column="member_id" />
			<result property="vehicleType" column="vehicle_type" />
			<result property="vehicleStructure" column="vehicle_structure" />
			<result property="vehicleNumber" column="vehicle_number" />
			<result property="createDate" column="create_date" />
			<result property="examineDate" column="examine_date" />
			<result property="examineUserId" column="examine_user_id" />
			<result property="status" column="status" />
			<result property="deleted" column="deleted" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="MemberCarResult">
		select
		   *
		from `member_car`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.ejavashop.entity.member.MemberCar">
        update `member_car` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="memberId != null">`member_id`= #{memberId},</if>
			<if test="vehicleType != null">`vehicle_type`= #{vehicleType},</if>
			<if test="vehicleStructure != null">`vehicle_structure`= #{vehicleStructure},</if>
			<if test="vehicleNumber != null">`vehicle_number`= #{vehicleNumber},</if>
			<if test="createDate != null">`create_date`= #{createDate},</if>
			<if test="examineDate != null">`examine_date`= #{examineDate},</if>
			<if test="examineUserId != null">`examine_user_id`= #{examineUserId},</if>
			<if test="status != null">`status`= #{status},</if>
			<if test="deleted != null">`deleted`= #{deleted}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.ejavashop.entity.member.MemberCar" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`member_car`
		(
			
			`member_id`,
			`vehicle_type`,
			`vehicle_structure`,
			`vehicle_number`,
			`create_date`,
			`examine_date`,
			`examine_user_id`,
			`status`,
			`deleted`
		)
		values
		(
			
			#{memberId},
			#{vehicleType},
			#{vehicleStructure},
			#{vehicleNumber},
			#{createDate},
			#{examineDate},
			#{examineUserId},
			#{status},
			#{deleted}
		)
	</insert>
	
</mapper>