<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.read.member.MemberApplyDrawingReadDao">
	<resultMap id="MemberApplyDrawingResult" type="com.ejavashop.entity.member.MemberApplyDrawing">
			<result property="id" column="id" />
			<result property="memberId" column="member_id" />
			<result property="memberName" column="member_name" />
			<result property="code" column="code" />
			<result property="money" column="money" />
			<result property="createTime" column="create_time" />
			<result property="auditingTime" column="auditing_time" />
			<result property="handleTime" column="handle_time" />
			<result property="bank" column="bank" />
			<result property="bankCode" column="bank_code" />
			<result property="state" column="state" />
			<result property="failReason" column="fail_reason" />
			<result property="optId" column="opt_id" />
			<result property="optName" column="opt_name" />
	</resultMap>
	<sql id="getCondition">
        <where>
            <if test="queryMap.q_memberId != null and queryMap.q_memberId !=''">
                and member_id = #{queryMap.q_memberId}
            </if>
            <if test="queryMap.q_memberName != null and queryMap.q_memberName !=''">
                and member_name like CONCAT('%', #{queryMap.q_memberName}, '%')
            </if>
            <if test="queryMap.q_startTime != null and queryMap.q_startTime != ''">
				and `create_time` &gt;= #{queryMap.q_startTime}
			</if>
            <if test="queryMap.q_endTime != null and queryMap.q_endTime != ''">
				and `create_time` &lt;= #{queryMap.q_endTime}
			</if>
            <if test="queryMap.q_bank != null and queryMap.q_bank !=''">
                and bank like CONCAT('%', #{queryMap.q_bank}, '%')
            </if>
            <if test="queryMap.q_state != null and queryMap.q_state !=''">
                and state = #{queryMap.q_state}
            </if>
            <if test="queryMap.q_failReason != null and queryMap.q_failReason !=''">
                and fail_reason like CONCAT('%', #{queryMap.q_failReason}, '%')
            </if>
        </where>
    </sql>
    
	<select id="get" parameterType="Integer" resultMap="MemberApplyDrawingResult">
		select
		   *
		from `member_apply_drawing`
		where `id` = #{id}
	</select>
	
	<select id="getMemberApplyDrawingsCount" parameterType="java.util.Map" resultType="Integer">
		select
		   count(*)
		from `member_apply_drawing`
		<include refid="getCondition"/>
	</select>
	
	<select id="getMemberApplyDrawings" parameterType="java.util.Map" resultMap="MemberApplyDrawingResult">
		select
		   *
		from `member_apply_drawing`
		<include refid="getCondition"/>
		order by `id` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
</mapper>