<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.product.ProductPriceWriteDao">
	<resultMap id="ProductPriceResult" type="com.ejavashop.entity.product.ProductPrice">
			<result property="id" column="id" />
			<result property="price1" column="price1" />
			<result property="price1S" column="price1_s" />
			<result property="price1E" column="price1_e" />
			<result property="price2" column="price2" />
			<result property="price2S" column="price2_s" />
			<result property="price2E" column="price2_e" />
			<result property="price3" column="price3" />
			<result property="price3S" column="price3_s" />
			<result property="price3E" column="price3_e" />
			<result property="percentageScale1" column="percentage_scale1" />
			<result property="percentageScale2" column="percentage_scale2" />
			<result property="percentageScale3" column="percentage_scale3" />
	</resultMap>
	
	<!-- <select id="get" parameterType="Integer" resultMap="ProductPriceResult">
		select
		   *
		from `product_price`
		where `id` = #{id}
	</select> -->
	
	<update id="update" parameterType="com.ejavashop.entity.product.ProductPrice">
        update `product_price` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="price1 != null">`price1`= #{price1},</if>
			<if test="price1S != null">`price1_s`= #{price1S},</if>
			<if test="price1E != null">`price1_e`= #{price1E},</if>
			<if test="price2 != null">`price2`= #{price2},</if>
			<if test="price2S != null">`price2_s`= #{price2S},</if>
			<if test="price2E != null">`price2_e`= #{price2E},</if>
			<if test="price3 != null">`price3`= #{price3},</if>
			<if test="price3S != null">`price3_s`= #{price3S},</if>
			<if test="price3E != null">`price3_e`= #{price3E}</if>
			<if test="priceOnly != null">`price_only`= #{priceOnly}</if>
			<if test="brandName != null">`brand_name`= #{brandName}</if>
			<if test="percentageScale1 != null">`percentage_scale1`= #{percentageScale1}</if>
			<if test="percentageScale2 != null">`percentage_scale2`= #{percentageScale2}</if>
			<if test="percentageScale3 != null">`percentage_scale3`= #{percentageScale3}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.ejavashop.entity.product.ProductPrice" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`product_price`
		(
			
			`price1`,
			`price1_s`,
			`price1_e`,
			`price2`,
			`price2_s`,
			`price2_e`,
			`price3`,
			`price3_s`,
			`price_only`,
			`brand_name`,
			`price3_e`,
			`percentage_scale1`,
			`percentage_scale2`,
			`percentage_scale3`
		)
		values
		(
			
			#{price1},
			#{price1S},
			#{price1E},
			#{price2},
			#{price2S},
			#{price2E},
			#{price3},
			#{price3S},
			#{priceOnly},
			#{brandName},
			#{price3E},
			#{percentageScale1},
			#{percentageScale2},
			#{percentageScale3}
		)
	</insert>
	
</mapper>