<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.product.ProductSortWriteDao" >
	<resultMap id="PcIndexFloorProductResult" type="com.ejavashop.entity.shopm.pcindex.PcIndexFloorProduct">
			<result property="id" column="id" />
			<result property="productId" column="product_id" />
			<result property="sortType" column="sort_type" />
			<result property="name1" column="name1" />
			<result property="sort" column="sort" />
	</resultMap>
<!-- 	<sql id="getCondition">
        <where>
            <if test="queryMap.q_name != null and queryMap.q_name !=''">
                and `name` like CONCAT('%', #{queryMap.q_name}, '%')
            </if>
            <if test="queryMap.q_status != null and queryMap.q_status !=''">
                and `status` = #{queryMap.q_status}
            </if>
        </where>
    </sql> -->
    
	<delete id="delete">
		delete from `product_order` where id = #{id};
	</delete>
	
</mapper>