<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.read.product.ProductPriceReadDao">
	<resultMap id="ProductPriceResult" type="com.ejavashop.entity.product.ProductPrice">
			<result property="id" column="id" />
			<result property="price1" column="price1" />
			<result property="price1S" column="price1_s" />
			<result property="price1E" column="price1_e" />
			<result property="price2" column="price2" />
			<result property="price2S" column="price2_s" />
			<result property="price2E" column="price2_e" />
			<result property="price3" column="price3" />
			<result property="price3S" column="price3_s" />
			<result property="price3E" column="price3_e" />
			<result property="percentageScale1" column="percentage_scale1" />
			<result property="percentageScale2" column="percentage_scale2" />
			<result property="percentageScale3" column="percentage_scale3" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="ProductPriceResult">
		select
		   *
		from `product_price`
		where `id` = #{id}
	</select>
	
</mapper>