<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.read.seller.StAppletSellerReadDao">
	<resultMap id="StAppletSellerResult" type="com.phkj.entity.seller.StAppletSeller">
			<result property="id" column="id" />
			<result property="memberId" column="member_id" />
			<result property="name" column="name" />
			<result property="sellerName" column="seller_name" />
			<result property="sellerLogo" column="seller_logo" />
			<result property="sellerGrade" column="seller_grade" />
			<result property="scoreService" column="score_service" />
			<result property="scoreDeliverGoods" column="score_deliver_goods" />
			<result property="scoreDescription" column="score_description" />
			<result property="productNumber" column="product_number" />
			<result property="collectionNumber" column="collection_number" />
			<result property="createTime" column="create_time" />
			<result property="saleMoney" column="sale_money" />
			<result property="orderCount" column="order_count" />
			<result property="orderCountOver" column="order_count_over" />
			<result property="sellerKeyword" column="seller_keyword" />
			<result property="sellerDes" column="seller_des" />
			<result property="auditStatus" column="audit_status" />
			<result property="storeSlide" column="store_slide" />
			<result property="sellerCode" column="seller_code" />
			<result property="taxLicense" column="tax_license" />
			<result property="organization" column="organization" />
			<result property="bussinessLicense" column="bussiness_license" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="StAppletSellerResult">
		select
		   *
		from `st_applet_seller`
		where `id` = #{id}
	</select>
	
	<select id="getSellerByMemberId" resultMap="StAppletSellerResult">
	    select
		   *
		from `st_applet_seller`
		where `member_id` = #{memberId}
	</select>
</mapper>