<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.backgoods.BadGoodsWriteDao">
	<resultMap id="BadGoodsResult" type="com.ejavashop.entity.backgoods.BadGoods">
			<result property="id" column="id" />
			<result property="ordersId" column="orders_id" />
			<result property="ordersSn" column="orders_sn" />
			<result property="createTime" column="create_time" />
			<result property="updateTime" column="update_time" />
			<result property="productId" column="product_id" />
			<result property="productSku" column="product_sku" />
			<result property="sellerId" column="seller_id" />
			<result property="badNum" column="bad_num" />
			<result property="productName" column="product_name" />
			<result property="sellerName" column="seller_name" />
			<result property="backGoodsId" column="back_goods_id" />
	</resultMap>
	
	<update id="update" parameterType="com.ejavashop.entity.backgoods.BadGoods">
        update `bad_goods` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="ordersId != null">`orders_id`= #{ordersId},</if>
			<if test="ordersSn != null">`orders_sn`= #{ordersSn},</if>
			<if test="createTime != null">`create_time`= #{createTime},</if>
			<if test="updateTime != null">`update_time`= now(),</if>
			<if test="productId != null">`product_id`= #{productId},</if>
			<if test="productSku != null">`product_sku`= #{productSku},</if>
			<if test="sellerId != null">`seller_id`= #{sellerId},</if>
			<if test="badNum != null">`bad_num`= #{badNum},</if>
			<if test="productName != null">`product_name`= #{productName},</if>
			<if test="sellerName != null">`seller_name`= #{sellerName},</if>
			<if test="backGoodsId != null">`back_goods_id`= #{backGoodsId}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.ejavashop.entity.backgoods.BadGoods" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`bad_goods`
		(
			
			`orders_id`,
			`orders_sn`,
			`create_time`,
			`update_time`,
			`product_id`,
			`product_sku`,
			`seller_id`,
			`bad_num`,
			`product_name`,
			`seller_name`,
			`back_goods_id`
		)
		values
		(
			
			#{ordersId},
			#{ordersSn},
			now(),
			now(),
			#{productId},
			#{productSku},
			#{sellerId},
			#{badNum},
			#{productName},
			#{sellerName},
			#{backGoodsId}
		)
	</insert>
	
</mapper>