<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.read.notice.StAppletCollectionManageReadDao">
	<resultMap id="StAppletCollectionManageResult" type="com.phkj.entity.notice.StAppletCollectionManage">
			<result property="id" column="id" />
			<result property="noticeId" column="notice_id" />
			<result property="type" column="type" />
			<result property="memberId" column="member_id" />
			<result property="phone" column="phone" />
			<result property="createId" column="create_id" />
			<result property="createTime" column="create_time" />
			<result property="createName" column="create_name" />
			<result property="sts" column="sts" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="StAppletCollectionManageResult">
		select
		   *
		from `st_applet_collection_manage`
		where `id` = #{id}
	</select>
	
	<select id="getCountByNoticeid" resultType="Long">
	    select
		   count(id)
		from `st_applet_collection_manage`
		where `notice_id` = #{noticeId}
	</select>
	
	<select id="getCollectionList" resultMap="StAppletCollectionManageResult">
	    select
		   *
		from `st_applet_collection_manage`
		where `member_id` = #{memberId}
		order by create_time desc
		limit #{start},#{pageSize}
	</select>
	
	<select id="getCount" resultType="Integer">
	    select
		count(id)
		from `st_applet_collection_manage`
		where `member_id` = #{memberId}
	</select>
	
	<select id="getCollectionCount" resultMap="StAppletCollectionManageResult">
	    select
		   count(id)
		from `st_applet_collection_manage`
		where `notice_id` = #{noticeId} and memberId = #{memberId}
	</select>
	
</mapper>