<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.read.notice.StBrowseReadDao">
	<resultMap id="StBrowseResult" type="com.phkj.entity.notice.StBrowse">
			<result property="id" column="id" />
			<result property="noticeId" column="notice_id" />
			<result property="browseVolume" column="browse_volume" />
			<result property="createId" column="create_id" />
			<result property="createTime" column="create_time" />
			<result property="modifyId" column="modify_id" />
			<result property="modifyTime" column="modify_time" />
			<result property="sts" column="sts" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="StBrowseResult">
		select
		   *
		from `st_applet_browse`
		where `id` = #{id}
	</select>
	
	<select id="getBrowseByNoticeId" resultMap="StBrowseResult">
	    select
		   *
		from `st_applet_browse`
		where notice_id = #{noticeId}
	</select>
</mapper>