<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.member.PersonalTailorPictureWriteDao">
	<resultMap id="PersonalTailorPictureResult" type="com.ejavashop.entity.member.PersonalTailorPicture">
			<result property="id" column="id" />
			<result property="personalTailorId" column="personal_tailor_id" />
			<result property="tailorDescription" column="tailor_description" />
	</resultMap>
	
	<!-- <select id="get" parameterType="Integer" resultMap="PersonalTailorPictureResult">
		select
		   *
		from `personal_tailor_picture`
		where `id` = #{id}
	</select> -->
	
	<update id="update" parameterType="com.ejavashop.entity.member.PersonalTailorPicture">
        update `personal_tailor_picture` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="personalTailorId != null">`personal_tailor_id`= #{personalTailorId},</if>
			<if test="tailorDescription != null">`tailor_description`= #{tailorDescription}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<delete id="delete" >
        delete from `personal_tailor_picture` where `personal_tailor_id` = #{personalTailorId}
	</delete>
	
	<insert id="insert" parameterType="com.ejavashop.entity.member.PersonalTailorPicture" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`personal_tailor_picture`
		(
			
			`personal_tailor_id`,
			`tailor_description`
		)
		values
		(
			
			#{personalTailorId},
			#{tailorDescription}
		)
	</insert>
	
</mapper>