/*放大镜的样式*/
@charset "utf-8";
/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #333333;
	font-family: "宋体", Arial, Lucida, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 150%;
}

a:link,a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #CC0000;
	text-decoration: underline;
}

a:active {
	color: #990000;
}

ol,ul {
	list-style: none outside none;
}

.m {
	margin-bottom: 10px;
}

.m,.mt,.mc,.mb {
	overflow: hidden;
}

/* Clear Fix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}
/* Hide from IE Mac */
.clearfix {
	display: block;
}
/* End hide from IE Mac */
/* end of clearfix */
/*页面全局结束*/
.tab {
	overflow: hidden;
}

.tab li,.tab a,.tab-item {
	cursor: pointer;
	float: left;
	text-align: center;
}

.m,.mt,.mc,.mb {
	overflow: hidden;
}

.mt .extra {
	float: right;
}

.right-extra {
	width: 365px;
	float: left;
	height: 450px;
}

.right-extra .mt {
	height: 28px;
	line-height: 28px;
	padding: 0 10px 8px;
	border-top: 1px solid #EED97C;
	background: url(../images/bg_hotsale.gif) repeat-x 0 -552px;
	color: #c00;
}

.right-extra .tab {
	border-bottom: 2px solid #BE0000;
	margin-bottom: 10px;
}

.right-extra .tab li {
	position: relative;
	height: 24px;
	padding: 3px 12px 0;
	background: url(../images/icon_clubs.gif) #ccc no-repeat right -150px;
	overflow: hidden;
	margin-right: 3px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	color: #c30;
}

.right-extra .tab span {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 10px;
	height: 27px;
	background: url(../images/icon_clubs.gif) no-repeat 0 -150px;
}

.right-extra .tab a {
	float: none;
	color: #c30;
}

.right-extra .tab .curr {
	background-position: right -178px;
	color: #fff;
}

.right-extra .tab .curr span {
	background-position: 0 -178px;
}

.right-extra .tab .curr a {
	color: #fff;
}

.right-extra .mc .extra {
	padding: 5px 10px;
	border-top: 1px solid #F3E6C6;
}

.right-extra .total {
	float: right;
}

.right-extra .total strong {
	color: #FF7403;
}

.right-extra .total a:link,.right-extra .total a:visited {
	color: #005aa0;
}

.right-extra .join a:link,.right-extra .join a:visited {
	color: #FF7604;
}

.right-extra .norecode {
	padding: 0 10px 10px;
}

.right-extra .iloading {
	margin-bottom: 10px;
}
/*/
/*图片放大镜样式*/
.jqzoom {
	float: left;
	border: none;
	position: relative;
	padding: 0px;
	cursor: pointer;
	margin: 0px;
	display: block;
}

.zoomdiv {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 350px;
	height: 350px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	display: none;
	text-align: center;
	overflow: hidden;
}

.jqZoomPup {
	z-index: 10;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid #aaa;
	background: url(//cbu01.alicdn.com/cms/upload/detail/2012/bg-mask.png) repeat;
	 /*background: #ffffff url(../img/zoom.png) 50% center no-repeat*/;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity = 50);
}

/*图片小图预览列表*/
.spec-preview {
	width: 350px;
	height: 350px; /*border:1px solid #DFDFDF;*/
	margin: 14px 0 14px 14px;
}

.spec-preview .icon-mag{
	background: url(//cbu01.alicdn.com/cms/upload/detail/2013/icon.png) no-repeat;
	position: absolute;
    bottom:0;
    right:0;
    width: 23px;
    height: 23px;
    line-height: 200px;
    overflow: hidden;
    background-position: left -230px;
    display: inline;
}
.spec-scroll {
	clear: both;
	margin-top: 5px;
	width: 362px;
	height: 54px;
	float: left;
	padding-left: 14px;
}

.spec-scroll .prev {
	float: left;
	margin-right: 4px;
}

.spec-scroll .next {
	float: right;
}

.spec-scroll .prev,.spec-scroll .next {
	display: block;
	font-family: "宋体";
	text-align: center;
	width: 10px;
	height: 54px;
	line-height: 54px;
	border: 1px solid #CCC;
	background: #EBEBEB;
	cursor: pointer;
	text-decoration: none;
}

.spec-scroll .items {
	float: left;
	position: relative;
	width: 300px;
	height: 56px;
	overflow: hidden;
	margin-left:5px;
}

.spec-scroll .items ul {
	position: absolute;
	width: 999999px;
	height: 56px;
}

.spec-scroll .items ul li {
	float: left;
	width: 61px;
	text-align: center;
}

.spec-scroll .items ul li img {
	border: 1px solid #CCC;
	padding: 2px;
	width: 50px;
	height: 50px;
}

.spec-scroll .items ul li img:hover {
	border: 2px solid #e4393c;;
	padding: 1px;
}
/*end*/
*,html,body {
	padding: 0;
	margin: 0;
	/* font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu*/
}

ul,ol,li {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #459ae9;
}

a:hover {
	color: #049dee;
	text-decoration: none;
}

h3 {
	font-size: 14px;
}

body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	background: #fff;
}

.top-head .nav {
	margin-bottom: 0px;
}

ul {
	margin-bottom: 0px;
}

#root-nav,#p-box {
	background: #f2f2f2;
}

.subheader {
	padding: 0 0 4px 6px;
	overflow: hidden;
	vertical-align: baseline;
}

#root-nav .container .subheader {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 45px;
	line-height: 45px;
}

.subheader strong,.subheader h1 {
	display: inline;
	font-weight: 700;
	line-height: 20px;
	font-size: 18px;
	font-family: "microsoft yahei";
}

.subheader span {
	font-family: "\5b8b\4f53";
}

#p-box {
	border-bottom: solid 1px #f2f2f2;
	margin-bottom: 10px;
}

#p-box .container {
	background: #fff;
}
/*#p-box .product-intro{
	width: 100%;
	position: relative;
	z-index: 3;
	height: 437px;
}*/
.wp1200 .m-item-grid .m-item-inner {
	padding-right: 244px
}

.m-item-grid .m-item-inner {
	/*width: 588px;*/
	float: left;
}

#itemInfo {
	position: relative;
	width: 588px;
	padding-bottom: 20px;
	padding-left: 20px;
}

#detaile-name {
	padding: 15px 75px 10px 10px;
	zoom: 1;
}

#detaile-name .d-title {
	line-height:25px;
	overflow: hidden;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 18px;
    color: #222;
    width: 568px;
}

#detaile-name .p-ad {
	font-family: arial, "microsoft yahei";
	color: #e3393c;
	font-size: 14px;
	line-height: 20px;
	word-break: break-all;
}

/* 商品优惠信息 */
#summary {
	width: 568px;
	position: relative;
	z-index: 2;
    border-top: 1px solid #ff7300;
    min-height: 84px;
    font-size: 12px;
    color: #ff7300;
    background-color: #fff5ec;
}

.wp1200 #comment-count {
	display: block;
}

#CommentCount {
	width: 60px;
	height: 30px;
	line-height: 15px;
	padding-left: 10px;
	border-left: solid 1px #e6e6e6;
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 6;
	text-align: center;
}

#CommentCount .cumulative-comment {
	color: #999;
}

#CommentCount #CountNumber {
	font: 14px 'verdana';
	color: #005ea7;
	cursor: pointer;
}
/*商场价*/
.summary-product {
	padding: 10px 10px 5px 12px;
	display: inline-block;
}
.summary-product .obj-title {
	margin-right: 40px;
	color: #A5988F;
	font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.summary-product strong {
	vertical-align: middle;
}
.summary-product strong .fd-cny{
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding-right: 2px;
}
.summary-product strong .fd-value{
	font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}
.summary-product strong .fd-unit{
	font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #A5988F;
}
/*品牌袜 阶梯价样式**/
.summary-product .ppwjietijiaspricespan{
	color: #A5988F;
	font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.summary-product .ppwjietijiasespan{
	float: none;
}
.summary-product .ppwjietijiaspan{
	margin-left:40px;
}
.summary-product .ppwjietijiaspan .fd-cny{
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding-right: 2px;
}
.summary-product .ppwjietijiaspan .fd-value{
	font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}
.summary-product .ppwjietijiaspan .fd-unit{
	font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #A5988F;
}
/**end*/
.summary-product div {
	float: left;
	width: 160px;
}

.old-product {
	display: inline-block;
}
/*领券*/
.p-choose {
	margin-left: 12px;
}

.J-open-tb {
	display: inline-block;
	padding: 0 10px;
	background-color: #eb676a;
	height: 18px;
	border-radius: 2px;
	text-decoration: none;
}

.J-open-tb:hover {
	text-decoration: none;
}

.J-open-tb>span {
	color: #fff;
}

#SummaryPrice {
	/* 	display: inline-block;
padding-top: 10px;
padding-bottom: 0;
padding-right: 81px;
height: 40px;
line-height: 30px; */
	
}

#SummaryPrice,.summary-service {
	padding-left: 72px;
	padding-right: 20px;
}

#SummaryPrice .dt,.summary-top .dt,.summary-service .dt {
	float: left;
	width: 72px;
	margin-left: -72px;
	display: inline;
	text-align: right;
	font-family: '\5B8B\4F53';
}
/*#SummaryPrice .dd{
	width: 432px;
}*/
#SummaryPrice .p-price {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	text-decoration: line-through;
}

.summary-top {
	position: relative;
	/*padding: 0 0 10px;*/
	margin-bottom: 10px;
	line-height: 28px;
	padding-left: 72px;
}

.summary-top .more-discounts,.summary-top .fullCut {
	color: #e4393c;
}

.summary-top .more-discounts em,.summary-top .fullCut em {
	background-color: #e4393c;
	color: #fff;
	padding: 2px;
	margin-right: 5px;
}

.summary-top .dd {
	padding-right: 5px;
	margin-left: 24px;
}

.summary-top .p-price {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}

/*S add优惠*/
.summary-top .dd span {
	display: block;
}

/*E add优惠*/
.summary-service {
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
}

.summary-promotion {
	margin-bottom: 0px;
	display: inline-block;
}

#Choose {
	padding-top: 10px;
	margin-top: 5px;
	margin-left: 11px;
	position: relative;
	z-index: 3;
	min-height: 143px;
}

#Choose .li {
	width: 100%;
	padding: 5px 0 20px 72px;
	float: left;
}
#Choose .dt {
	float: left;
	width: 72px;
	margin-left: -72px;
	display: inline;
	text-align: left;
	font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}

.p-choose-wrap .item {
	float: left;
	margin: 6px 6px 2px 0;
}

.p-choose-wrap .item.selected {
	position: relative;
	zoom: 1;
}

#ChooseColor .item.selected a,#ChooseColor  .item.selected a:hover {
	padding: 0;
}

#ChooseColor  .item a {
	font-size: 0;
	padding: 1px;
}

#ChooseColor  .item a {
	float: left;
}

#Choose a {
	display: inline;
	/* white-space: nowrap; */
	text-decoration: none;
}

.p-choose-wrap .item.selected a {
	border: 2px solid #e4393c;
}

.p-choose-wrap .item a:hover {
	border: 1px solid #e4393c;
}

.p-choose-wrap .item.selected a:hover {
	border: 2px solid #e4393c;
}

.p-choose-wrap .item a {
	padding-right: 4px;
	border: 1px solid #ccc;
	background: #fff;
}

.p-choose-wrap .item.selected b {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background: url(../img/new.png) no-repeat -202px -224px;
}

#ChooseColor .item a img {
	margin: 1px 3px 1px 1px;
	display: inline-block;
	vertical-align: middle;
}

#ChooseColor .item a i {
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}

#ChooseColor i {
	font-style: normal;
	margin-right: 3px;
}

#ChooseVersion .dt {
	margin-top: 8px;
}

#ChooseBtns .li {
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
}
#ChooseBtns .pro_key .product-stock{
	font-size: 13px;
	line-height:48px;
	margin-left: -60px;
}
#ChooseBtns .pro_key .tip-qipiliang{
    border: 1px dotted #e5e5e5;
    color: red;
    background-color: #fff;
    position:relative;
    top: -63px;
    left:123px;
    line-height: 19px;
    border-radius:25px;
    font-size: 20px;
}
.tip-qipiliang-2{
    border: 1px dotted #e5e5e5;
    color: red;
    background-color: #fff;
    position:relative;
    top: -27px;
    left:-30px;
    line-height: 19px;
    border-radius:25px;
    font-size: 20px;
}

.amountnum{
	float: left;
    font-size: 12px;
    padding-top: 10px;
}
.amountnum .countsubbtn{
	line-height: 21px;
    font-size: 29px;
}
.amountnum .countaddbtn{
	line-height: 22px;
    font-size: 21px;
}
.amountnum .coutinput{
	float: left;
    color: #666666;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left-width: 0;
    border-right-width: 0;
    width: 70px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    outline: none;
}
.amountnum .countbtn{
	float: left;
    display: inline-block;
    border: 1px solid #e5e5e5;
    width: 24px;
    height: 26px;
    text-align: center;
    color: #5f5f5f;
    background: #fafafa;
}
.amountnum .unclick{
	line-height: 21px;
    font-size: 29px;
	color: #CCCCCC;
    cursor: not-allowed;
}
#ChooseBtns{
	border-top: 1px dotted #e5e5e5;
}
#ChooseBtns .dt {
	padding-top: 14px;
}

.tzm-border {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 5px 0 40px;
	border: solid 2px #F00;
	background: #FFF;
	z-index: -1;
	box-shadow: 0 0 5px #999;
}

.tzm-border .tip {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #F7EBEB;
	color: #000;
}

.tzm-border .tip span {
	margin-left: 10px;
}

.tzm-border .close {
	position: absolute;
	top: 17px;
	right: 15px;
	width: 15px;
	color: #000;
	font-family: \5b8b\4f53;
	font-weight: 700;
	letter-spacing: -3px;
	z-index: 3;
	font-size: 15px;
	opacity: 1;
}

.internation-close {
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 100000;
	top: 10px;
	right: 10px;
	overflow: hidden;
	width: 13px;
	height: 13px;
	background: url(../img/dialog.png) no-repeat;
	background-image:;
	font-size: 0px;
}
.obj-order{
	margin: 25px 0 5px 50px;
}
/* 已加入收藏夹 样式 */
.obj-order .alreadyaddstar{
	line-height:40px;
	margin-left: 10px;
}
.obj-order .do-purchase{
	margin-right: 10px;
    background-color: #ff7300;
    display: block;
    float: left;
    width: 160px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ff7300;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: \5FAE\8F6F\96C5\9ED1;
    transition: background-color .3s ease 0s;
}
.obj-order .do-cart{
	margin-right:10px;
	border-color: #f2dcbc;
    background-color: #fff5ec;
    background:url(//cbu01.alicdn.com/cms/upload/2016/101/208/2802101_1117563048.png) no-repeat;
    background-position: 15px -162px;
    color: #ff712b;
    display: block;
    float: left;
    width: 160px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ff7300;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-family: \5FAE\8F6F\96C5\9ED1;
    transition: background-color .3s ease 0s;
}
.obj-order .do-cart:hover{
	border-color: #f9d59e;
	background-color: #ffecda;
	color: #f46200;
}
.obj-order .do-purchase:hover{
	border-color: #ff7300;
	background-color: #ff500b;
	color: #fff;
}
/*right*/
.m-item-grid .m-item-ext {
	width: 210px;
	float: left;
	margin-left: -210px;
	overflow: hidden;
	background: #fff;
	padding-top: 15px;
}

.wp1200 .m-item-grid .m-item-ext {
	display: block;
}

.extInfo {
	width: 244px;
	margin-top: 20px;
	padding: 0 22px;
}

.extInfo .brand-logo {
	padding: 10px 0;
	overflow: hidden;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee
}

.extInfo .brand-logo a {
	display: block;
	text-align: center;
}

.extInfo .seller-infor {
	width: 175px;
	padding: 15px 16px 15px 9px;
}

.extInfo .seller-infor {
	position: relative;
	padding: 15px 9px;
	overflow: hidden;
	line-height: 20px;
	font-size: 0;
}

.extInfo .seller-infor .infor-name {
	display: inline-block;
	width: 126px;
	height: 20px;
	color: #005aa0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-size: 12px;
}

.seller-pop-box {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.pop-score-detail .score-title {
	width: 178px;
	height: 32px;
	overflow: hidden;
	padding: 0 11px;
	line-height: 32px;
	border-top: 1px dotted #ddd;
	font-size: 0;
}

.pop-score-detail .score-title .rating-name {
	width: 50%;
}

.pop-score-detail .score-title .rating-name,.pop-score-detail .score-title .col3
	{
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	line-height: 31px;
}

.pop-score-detail .score-title .col3 {
	width: 50%;
	text-align: right;
}

.pop-score-detail .score-infor {
	width: 178px;
	padding: 10px 0 10px 11px;
	overflow: hidden;
	border-top: 1px dotted #ddd;
}

.pop-score-detail .score-part {
	width: 178px;
	line-height: 20px;
}

.pop-score-detail .score-desc {
	display: inline-block;
	/*width: 65px;*/
	color: #999;
}

em.score {
	/*margin-left: 5px;*/
	color: #e4393c;
}

.pop-score-detail .score-change {
	display: inline-block;
	margin-left: 10px;
}

.pop-score-detail .score-change .up {
	background-position: -139px -95px;
}

.pop-score-detail .score-change i {
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 3px;
	vertical-align: middle;
	background: url(../img/new.png) no-repeat;
}

.pop-score-detail .score-change .percent {
	display: inline-block;
	vertical-align: middle
}

.pop-shop-detail {
	width: 100%;
	padding: 10px 0;
	border-top: 1px dotted #ddd;
}

.pop-shop-detail .item {
	padding: 0 3px 0 69px;
	margin-bottom: 5px;
	line-height: 20px;
	text-indent: -60px;
	font-family: \5B8B\4F53;
}

.pop-shop-detail .item .label {
	color: #999;
	font-weight: 400;
	padding: 0;
}

.pop-shop-enter {
	/*height: 30px;*/
	padding-left: 9px;
	padding-bottom: 20px;
}

.pop-shop-enter .btn-default {
	font-size: 12px;
	padding: 4px 12px;
}

.pop-shop-enter .btn-default {
	background: #f5f5f5;
}

.pop-shop-enter .btn-default:hover {
	color: #e4393c;
}
/*end*/
/*最佳组合*/
#fitting-suit {
	overflow: visible;
}

#fitting-suit {
	padding-top: 2px;
	background: url(../img/tab.png) 0 -41px repeat-x;
}

#fitting-suit .float-nav-wrap {
	height: 30px;
	position: relative;
}

#fitting-suit .float-nav-wrap .mt {
	height: 30px;
}

#fitting-suit .mt {
	background-position: 0 -287px;
}

#fitting-suit .mt {
	overflow: visible;
	line-height: 30px;
	background: 0 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#fitting-suit .mt .tab {
	margin-left: -1px;
	overflow: visible;
}

#fitting-suit .tab {
	float: left;
}

#fitting-suit .tab .curr {
	height: 34px;
	border-top: 2px solid #e4393c;
	margin-top: -6px;
	color: #e4393c;
	background-color: #fff;
}

.tab li {
	float: left;
}

.tab li a {
	float: left;
}

#fitting-suit .tab .curr a {
	height: 34px;
	line-height: 34px;
	padding: 0 12px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #e4393c;
}

.tab li a {
	font: 700 15px/30px 'microsoft yahei';
}

#fitting-suit .mc {
	padding: 10px 0;
	border: 1px solid #ddd;
	border-top: none;
	overflow: visible;
}

.wp1200 .combine-content li {
	margin: 10px 35px;
}

#combine-con {
	height: 214px;
}

#fitting-suit .p-name {
	height: 3em;
}

.p-img {
	padding: 5px 0;
}

.p-name,.p-detail {
	word-break: break-all;
	word-wrap: break-word;
}

.ac {
	text-align: center;
}

.combine-content li {
	width: 130px;
}

.p-img,.p-name,.p-price {
	overflow: hidden;
}
.p-price {
	margin-left:6px; text-align: left;
}
.p-name {
	width:180px;margin-left:6px; line-height:18px; height:36px;
}
/**/
/*店内分类*/
.left {
	float: left;
	width: 210px;
}

.left .m {
	width: 100%;
}

.m {
	margin-bottom: 10px;
}

.m,.mt,.mc {
	overflow: hidden;
	zoom: 1;
}

#sp-category .mt {
	background: #f7f7f7;
}

.left .m2 .mt {
	height: 28px;
	line-height: 28px;
}

.left .m2 .mt {
	border: 1px solid #ddd;
}

.left .m .mt {
	font: 14px/30px 'microsoft yahei';
}

.m2 .mt h2 {
	font-weight: normal;
}

.m2 h2 {
	padding: 0 8px;
}

.mt h2 {
	font-family: "microsoft yahei";
}

.left .mt h2 {
	line-height: 26px;
	text-align: left;
}

#sp-category .mc {
	margin-top: -1px;
}

.left .m2 .mc {
	border: 1px solid #ddd;
	border-top: 0;
}

#sp-category .open dt {
	border-bottom: 1px solid #ddd
}

#sp-category dt {
	border-bottom: 0;
}

#sp-category dt {
	border-top: 1px solid #ddd;
	/*border-bottom: 1px solid #ddd;*/
	position: relative;
	font-weight: 400;
}

#sp-category dt s {
	background-position: -20px 0;
	cursor: pointer;
}

#sp-category dt s {
	display: block;
	position: absolute;
	left: 10px;
	top: 6px;
	width: 16px;
	height: 16px;
	background-image: url(../img/buyimg.png);
	background-repeat: no-repeat;
}

#sp-category dt a {
	background: #f7f7f7;
	padding-left: 36px;
}

#sp-category dl a {
	text-decoration: none;
}

#sp-category dl a {
	display: block;
	height: 28px;
	line-height: 28px;
}

#sp-category .open dt {
	border-bottom: 1px solid #ddd;
}

#sp-category .open s {
	background-position: -37px 0;
}

#sp-category .open dd {
	display: block;
}

#sp-category dd a {
	padding-left: 36px;
	padding-left: 37px
}

#sp-category dd a {
	height: 26px;
	line-height: 26px;
	white-space: nowrap;
}

#sp-category dd {
	display: none;
}
/*看了又看*/
.related-buy ul {
	padding: 10px 8px;
	margin-top: 10px;
	overflow: hidden;
	zoom: 1;
	border-top: 1px dotted #dedede;
}

.related-buy .fore1 {
	border-top: 0;
}

.related-buy li {
	padding: 4px 0;
}

.related-buy .p-img,.related-buy {
	text-align: center;
}
/* end*/
/*商品详情介绍*/
.wp1200 .right {
	width: 990px;
}

.right {
	float: right;
}

#product-detail {
	overflow: visible;
}

.wp1200 #pro-detail-hd {
	width: 990px;
}

#pro-detail-hd {
	position: relative;
	overflow: visible;
	background-color: #fff;
	z-index: 2;
}

.tab-trigger-wrap {
	position: relative;
	height: 31px;
	line-height: 30px;
	margin-top: 4px;
	border-right: 1px solid #dedfde;
	border-bottom: 1px solid #dedfde;
	border-left: 1px solid #dedfde;
	border-top: 2px solid #999;
	background-color: #f7f7f7;
	overflow: visible
}

.m-tab-trigger {
	float: left;
	height: 31px;
	margin-bottom: -2px;
}

.m-tab-trigger .li-curr {
	float: left;
	height: 30px;
}

.m-tab-trigger .li-curr.curr a {
	position: relative;
	height: 35px;
	line-height: 35px;
	margin-top: -6px;
	margin-left: -1px;
	border-top: 2px solid #e4393c;
	border-left: 1px solid #dedfde;
	border-right: 1px solid #dedfde;
	background-color: #fff;
}

.m-tab-trigger .li-curr a {
	display: inline-block;
	padding: 0 10px;
	font-family: '\5fae\8f6f\96c5\9ed1';
	font-size: 14px;
}

.wp1200 .p-parameter {
	padding: 0 10px 10px;
}

.right .p-parameter {
	border: solid 1px #dedfde;
	border-top: 0;
}

#product-detail .mc {
	clear: both;
}

.wp1200 .p-parameter-list {
	padding: 20px 0 15px;
}

.p-parameter-list {
	padding: 20px 0 15px;
	border-top: 1px dotted #ddd;
	margin-top: -1px;
	overflow: hidden;
}

#parameter2 li {
	line-height: 22px;
}

.wp1200 .p-parameter-list li {
	width: 242px;
}

.p-parameter-list li {
	width: 145px;
	padding-left: 42px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.p-parameter-list li a {
	color: #005aa0;
}

.detail-content {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
}

.detail-content-wrap {
	width: 100%;
	float: left;
	background-color: #fff;
	text-align:center;
}

.detail-content-wrap .detail-content-item {
	width: 100%;
}

.b-table {
	display: none;
}

.bcent-table {
	display: block;
}

#state strong {
	color: #e4393c;
}

#state {
	padding-top: 8px;
	margin-top: 8px;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 20px;
}

#comment {
	border: 1px solid #ddd;
	border-top: 2px solid #999
}

#comment h2 {
	padding: 0 12px;
	font-size: 14px;
	line-height: 30px;
}

#comment .rate {
	width: 190px;
}

#comment .mc {
	padding: 10px 0;
	overflow: hidden;
	zoom: 1;
}

#comment .rate {
	float: left;
	padding: 20px 0 0;
	text-align: center;
}

#comment .rate strong span {
	font-size: 24px;
	color: #e4393c;
}

#comment .rate strong {
	font: 400 46px/30px arial;
	color: #e4393c;
}

#comment .rate span {
	color: #999;
	font-family: arial
}

#comment .percent {
	float: left;
	width: 186px;
	height: 74px;
	padding: 8px 0;
	border-right: 1px solid #E4E4E4;
}

#comment .percent dt {
	float: left;
	width: 70px;
	font-weight: 400;
}

#comment .percent dl {
	height: 22px;
}

#comment .percent span {
	color: #9c9a9c;
}

#comment .percent dd {
	float: left;
	width: 100px;
	height: 10px;
	margin-top: 4px;
	overflow: hidden;
	background: #efefef;
}

#comment .percent dd .progress {
	overflow: hidden;
	height: 10px;
	/*width: 0;*/
	width: 100px;
	background-color: #ED0000;
	background-image: linear-gradient(to bottom, #ED0000 0, #A50000 100%);
	border-radius: 0px;
}

#comments-list {
	width: 100%;
	overflow: visible;
	margin-top: 20px;
}

.rv-main-target {
	margin-bottom: 10px;
}

.rv-target-item {
	padding-top: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #fff;
}

.rv-target-list {
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.rv-target-topic {
	margin-right: -10px;
	padding-bottom: 10px;
}

.rv-target-topic .topic-avatar {
	width: 165px;
}

.l {
	float: left;
}

.rv-target-topic .topic-avatar .avatar {
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.topic-avatar .avatar .back {
	border-radius: 30px;
}

.rv-target-topic .topic-avatar .username {
	text-align: center;
}

.rv-target-topic .topic-main {
	width: 608px;
}

.rv-target-topic .topic-main .topic-title {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.topic-main .topic-title .star {
	width: 68px;
	height: 12px;
	position: relative;
	margin: 3px 10px 15px 0;
	background-position: 0 -138px;
	overflow: hidden;
}

.rv-spring {
	display: inline-block;
	background: url(../img/icons2.png);
}

.topic-main .topic-title .star .on {
	height: 12px;
	position: absolute;
	top: 0;
	background-position: 0 -125px;
}

.topic-main .topic-body .body-content {
	line-height: 24px;
	word-break: break-all;
}

.body-info.clearfix {
	padding: 10px 0;
}

.topic-body .body-info .date span {
	margin-right: 5px;
	color: #999;
}

.rv-target-topic .topic-label {
	width: 215px;
	color: #bbb;
}

.rv-target-topic .topic-label li {
	line-height: 24px;
}

.rv-target-topic .topic-label p {
	padding-left: 37px;
	overflow: hidden;
}

#comments-list .ui-page {
	padding-top: 15px;
	padding-bottom: 5px;
	float: right;
}

.ui-page a {
	border-radius: 2px;
	display: inline-block;
	background-color: #f7f7f7;
	background-image: linear-gradient(to bottom, #f7f7f7 0, #f3f2f2 100%);
	color: #333;
	padding: 4px 1.2em;
	border: 1px solid #ddd;
	margin-left: 3px;
	vertical-align: middle;
}

.ui-page a:hover {
	text-decoration: none;
}

.ui-page .ui-page-curr {
	color: #e33b3d;
	font-weight: 700;
	border: 0;
	cursor: default;
	background: 0 0
}

.ui-page span {
	margin-left: 3px;
	color: #666;
}

.area {
	border: solid 1px #DDD;
	background-color: #FFF;
	border-top: 0;
}

.mt10 {
	margin-top: 10px !important;
}

.area-head {
	height: 34px;
	padding: 0 10px;
	border-bottom: solid 1px #DDD;
	overflow: hidden;
}

.area-head h3 {
	font: 400 14px/34px \5FAE\8F6F\96C5\9ED1;
	color: #666;
}

.wp1200 .after-market {
	padding-bottom: 60px;
}

.after-market {
	width: 760px;
	margin: 0 auto;
	padding-bottom: 20px
}

.after-market-hd {
	height: 35px;
	margin-top: 40px;
	border-bottom: 1px solid #bbb;
}

.after-market-hd h4 {
	position: relative;
	float: left;
	height: 35px;
	margin-bottom: -1px;
	padding-right: 10px;
	border-bottom: 1px solid #e4393c;
	font: 14px/35px 'microsoft yahei';
}

.after-market-cnt {
	color: #666;
}

.after-market-cnt .guarantees {
	padding-top: 7px;
}

.after-market-cnt .guarantees p {
	line-height: 2
}

.comment-none {
	display: none;
}

.comment-block {
	display: block;
}

.cs-main-wrap {
	width: 100%;
	overflow: visible;
	margin-top: 20px;
}

.cs-main-target {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.cs-target-item {
	
}

.cs-target-item .item {
	position: relative;
	border-top: 1px solid #ddd;
	/*height:156px;*/
}

.cs-target-item .pro-left {
	padding: 20px 0 40px;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
}

.cs-target-item .question {
	color: #333;
}

.cs-target-item .user {
	width: 170px;
	height: 20px;
	overflow: hidden;
	color: #999;
}

.cs-target-item .question i {
	background-position: -71px -126px;
}

.cs-target-item .pro-left i {
	display: inline-block;
	float: left;
	width: 16px;
	height: 19px;
	margin-left: 20px;
	margin-right: 15px;
	vertical-align: middle;
}

.cs-spring {
	background: url(../img/icons2.png);
}

.cs-target-item .pro-left .nickname {
	float: left;
	width: 114px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.cs-target-item .content {
	width: 570px;
	line-height: 20px;
	overflow: hidden;
	word-break: break-all;
}

.cs-target-item .answer {
	padding-top: 15px;
	color: #666;
}

.cs-target-item .answer i {
	background-position: -88px -126px;
}

.cs-target-item .answer-right {
	padding-right: 20px;
	padding-top: 20px;
	text-align: right;
}

.r {
	float: right;
}

.cs-target-item .answer-right .answer-time span {
	padding-left: 10px;
}

.cs-hasNoConsultation {
	padding: 20px 0;
	border-top: 1px solid #ddd;
	font-size: 14px;
	text-align: center;
}

.advice-none {
	display: none;
}

.advice-play {
	display: block;
}
/*qq图标*/
.extInfo .customer-service {
	padding-left: 9px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 24px;
	border-bottom: 1px solid #ddd;
}

.extInfo .customer-service .service {
	float: left;
	width: 187px;
	padding-left: 2px;
}

.extInfo .customer-service .service .item {
	width: 85px;
	/*height: 30px*/
	margin-right: 4px;
	float: left;
	overflow: hidden;
	/*margin-bottom: 5px;*/
}

.extInfo .customer-service .service .item a:hover {
	text-decoration: none;
}

.extInfo .customer-service .service .item b {
	font-weight: 400;
}

.custom-service {
	margin-top: 10px;
}

.Ptable {
	width: 100%;
	color: #666
}

.Ptable th.tdtitle {
	text-align: center;
	background: #f2f2f2;
}

.Ptable th {
	border-top: 1px solid #ddd;
}

.Ptable .tdtitle {
	text-align: right;
	width: 110px;
	padding: 7px;
}

.Ptable td {
	border: 1px solid #ddd;
	border-bottom: 0px;
	border-left: 0px;
	padding: 2px 5px;
	background: #fff;
}

/*.jd-im i{
	display: inline-block;
	width: 59px;
	height: 24px;
	line-height: 24px;
	padding-left: 27px;
	background: url(../img/qq.jpg);
}*/
.pagin .prev,.pagin .prev-disabled {
	padding-left: 12px;
}

.pagin .prev-disabled,.pagin .next-disabled {
	color: #666;
	cursor: default;
}

.pagin .prev,.pagin .next,.pagin .prev-disabled,.pagin .next-disabled {
	position: relative;
	padding-top: 5px;
	height: 28px;
	line-height: 18px;
	cursor: pointer;
}

.pagin span {
	float: left;
	padding: 3px 10px;
	border: 1px solid #ccc;
	margin-left: 5px;
	font-family: arial;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #333;
}

.pagin a {
	color: #ccc;
}

.pagin span {
	background: #fff;
}

.pagin .current {
	color: #f60;
	font-weight: 700;
}

.pagin .text,.pagin .current {
	border: 0;
	padding: 4px 11px;
}

/**
* 满减活动样式
*/
.hl_red_bg {
	color: #fff;
	background: #e4393c;
	padding: 1px 2px;
	line-height: 12px;
	margin-right: 5px;
	display: inline-block;
}

/*S优惠券隐藏页面页面*/
.toolbar-wrap {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9990;
	width: 280px;
	height: 100%;
	background-color: #eceaea;
	overflow-y: auto;
	border-left: 2px solid #999;
}

.tbar-panel-header {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #eceaea;
}

.tbar-panel-header .title {
	display: inline-block;
	height: 40px;
	color: rgb(94, 80, 80);
	font: 16px/40px "MicroSoft YaHei";
}

.tbar-panel-header .title i {
	display: inline-block;
	width: 18px;
	height: 13px;
	background-image: url(../img/thar.png);
	margin-top: 14px;
	margin-right: 4px;
	margin-left: 10px;
	vertical-align: top;
}

.tbar-panel-header .title em {
	display: inline-block;
	vertical-align: top;
}

.tbar-panel-header .close-panel {
	font-size: 20px;
	position: absolute;
	right: 20px;
	line-height: 40px;
	cursor: pointer;
}
/* 可领取的券 */
.coupon-box {
	width: 250px;
	margin-left: 10px;
}

.coupon-wrap {
	width: 250px;
	height: 200px;
}

.coupon-wrap .coupon-type {
	width: 250px;
	height: 19px;
	line-height: 19px;
	background-position: 0 0;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #666;
	text-align: center;
	position: relative;
}

.line-left {
	display: inline-block;
	width: 88px;
	height: 3px;
	background: url(../img/toolbar-coupon.png) no-repeat 0 -9px;
	position: absolute;
	position: absolute;
	top: 10px;
	left: 0;
}

.line-right {
	display: inline-block;
	width: 88px;
	height: 3px;
	background: url(../img/toolbar-coupon.png) no-repeat -166px -9px;
	position: absolute;
	position: absolute;
	top: 10px;
	right: 0;
}

.coupon-item {
	padding: 0 10px;
	margin-top: 20px;
	width: 240px;
	height: 95px;
	background-color: #FFA955;
	position: relative;
}

.coupon-price {
	float: left;
	font-family: "microsoft yahei";
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	width: 110px;
	padding-top: 5px;
}

.coupon-price em {
	color: #fff;
	font-size: 20px;
	margin-right: 2px;
}

.coupon-price span {
	position: absolute;
	top: 20px;
}

.coupon-info {
	width: 110px;
	float: left;
	margin-top: 10px;
	color: #fff;
	margin-bottom: 8px;
}

.coupon-info-tit {
	display: inline-block;
	width: 100%;
	height: 18px;
	display: -webkit-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.coupon-info .condition {
	display: inline-block;
	height: 18px;
	width: 100%;
	line-height: 18px;
	text-align: center;
	background-color: rgba(0, 0, 0, .2);
}

.coupon-item .btn-get {
	display: block;
	text-decoration: none;
	cursor: pointer;
	margin: 0 auto;
	width: 215px;
	height: 22px;
	line-height: 22px;
	font-family: "microsoft yahei";
	color: #e76d00;
	clear: both;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
}

.coupon-time {
	text-align: center;
	color: #fff;
	line-height: 15px;
}
/*E优惠券隐藏页面页面*/

/* S 已选清单*/
.obj-list {
	background-color: #f9f9f9;
	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
	height: 46px;
}
.obj-list .list-total{
	float: left;
	line-height: 46px;
	margin-left: 14%;
}
.obj-list .list-total p{
	float: left;
}
.obj-list .list-total .checked-amount{
	margin-right: 10px;
}
.obj-list .list-total .checked-price{
	margin-left: 10px;
}
.obj-list .list-total .checked-amount .checked-amount-value{
	font-size: 20px;
	color: #d00;
}
.obj-list .list-total .checked-amount .checked-amount-unit{
	font:12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
	color: #d00;
}
.obj-list .list-total .checked-price .checked-price-value{
	font-size: 20px;
	color: #d00;
}
.obj-list .list-total .checked-price .checked-price-unit{
	font:12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
	color: #d00;
}
.obj-list .list-selected{
	float: left;
	line-height: 44px;
	font-size: 14px;
	text-align: center;
	color: #222;
	border-left:1px solid #e5e5e5; 
	width: 130px;
	cursor: pointer;
}
.obj-list .list-selected:hover{
	color: #ff7300;
}
.obj-list .list-info{
	width:568px;
	display: block;
	max-height:150px;
	position: absolute;
	bottom: 133px;
	right: 0;
	background-color:#fff;
	border:1px solid #d5d5d5;
	box-shadow:0 -3px 3px -3px #d5d5d5;
	overflow-y:auto!important;
	overflow-x:hidden!important;
	z-index: 100;
}
.obj-list .list-info .table-list{
	border-collapse:collapse;
	border-spacing: 0;
}
.obj-list .list-info .table-list tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.obj-list .list-info .table-list tbody tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.obj-list .list-info .table-list tbody tr td{
	border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.obj-list .list-info .table-list tbody tr .prop{
	width: 195px;
    padding: 17px 10px;
    font-weight: 700;
}
.obj-list .list-info .table-list tbody tr .amount2{
	width: 175px;
    padding: 17px 10px;
}
/* E 已选清单*/

/* S 需要二次加工选项 */
.processing-box {
	width: 100%;
}
.processing-box .processing-p label .abcabcspan{
	font-weight: normal;
}
.processing-box .processing-p {
	overflow: hidden;
}

.processing-box input {
	margin-top: 1px;
	width: 15px;
	height: 15px;
	background: #fff;
	outline: none;
}

.processing-brand {
	margin-top: 2px;
	margin-left:100px;
	display: none;
}

.processing-box .processing-p>span,.processing-brand>span {
	float: left;
	padding-left: 10px;
}
.processing-box .ercijiaogongHead{
	height: 36px;
	background: #ff7e18;
	width: 100%;
}
.processing-box .ercijiaogongHead span{
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	margin-left: 10px;
}
.processing-box .ercijiaogongHead i{
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	right: 0;
	margin-left: 73%;
	cursor: pointer;
}
/* 二次加工样式结束  */
.processing-img {
	background: #fff;
	position: absolute;
	top: 22px;
	left: 20px;
	width: 548px;
	border: 1px solid #ccc;
	display: none;
	z-index: 99;
	-webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;
}
.processing-img ul li .aaaaainputcss{
	margin:0px 3px 0 5px;
	float:none;
	vertical-align:middle; 
	margin-top:-2px;
}
.processing-img ul li:nth-child(5n) {
	border-right: 0;
}

.processing-img ul {
	width: 550px;
}

.processing-img ul li {
	padding: 10px 0;
	float: left;
	width: 110px;
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: -1px;
}

.processing-img .a-img {
	display: inline-block;
}

.processing-img .a-img>img {
	width: 90px;
	height: 90px;
}

.selected-package {
	width: 100%;
	height: 200px;
}

input[type=checkbox],input[type=radio] {
	border: 1px solid #ddd;
}

/* E 需要二次加工选项 */

/* 热门推荐 */
.shop_bd_2 {
	width: 1210px;
	margin: 10px auto 10px;
}

.shop_bd_tuijian {
	width: 1210px;
	height: 340px;
	float: left;
	border: 1px solid #E7E7E7;
	margin-right: 10px;
	margin-bottom: 10px;
}

.tuijian_tabs {
	width: 1210px;
	padding: 0 10px;
	height: 30px;
	background: none repeat scroll 0 0 #F7F7F7;
}

.tuijian_tabs li {
	float: left;
}

.tuijian_tabs li a {
	display: line-block;
	padding: 3px 20px 5px;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	color: #333333;
}

.tuijian_tabs li.hover a {
	color: #666;
	position: relative;
	top: 1px;
	font-weight: bold;
	background-color: #FFF;
	border: 1px solid #E7E7E7;
	border-bottom: none;
}

.tuijian_tabs li.hover a
.tuijian_shangpin {
	display: none;
}

.tuijian_shangpin ul li {
	float: left;
	width: 200px;
	height: 220px;
	padding: 20px 10px;
	position: relative;
	left: 8px;
}

.tuijian_shangpin ul li dl dt {
	width: 160px;
	height: 160px;
	vertical-align: middle;
}

.tuijian_shangpin ul li dl dd {
	margin-bottom: 5px;
}

.tuijian_shangpin ul li dl dd em {
	color: #CC0000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 5px;
}

.tuijian_shangpin ul li dl dd a {
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	margin-top: 60px;
}
/*原价有划掉的效果样式*/
.summary-product .linethrowprice del {
	position: relative;
	top:0;
	left: 10px;
	color: #888;
	white-space:nowrap;
	font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.summary-product strong .productunitcss{
	font-size: 16px;
}
.summary-product .productunitcss{
	font-size: 12px;
}
/*面包屑导航样式CSS*/
.currentmap{
	font-size: 14px;
    color: #333333;
    width: 100%;
    padding: 15px 0 12px 0px;
    overflow: hidden;
}
.currentmap a{
	color: #333;
}
.currentmap span{
	padding: 0 5px;
}
/*订购数量必须为大于0的整数 提示tip*/
#itemInfo .tip-container{
	margin-top: 5px;
	margin-left:50px;
    height: 18px;
    overflow: hidden;
    display: none;
}
#itemInfo .tip-container .ppwtip{
	padding-left: 18px;
	color: #222;
	font:12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
    background: url(//cbu01.alicdn.com/cms/upload/detail/2014/icon4.png) no-repeat;
    background-position: 0 -287px;
}
/*起批量样式调整*/
.qipiliangdiv .qipiliangspanA{
	color: #A5988F;
	padding-left: 12px;
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.qipiliangdiv .qipiliangspanB{
	padding-left:40px;
    color: #444;
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
/**打标袜价格区域显示*/
.dabiaowadiv{
	margin-top:5px;
	width: 568px;
	position: relative;
	z-index: 2;
    border-top: 1px solid #ff7300;
    min-height: 84px;
    font-size: 12px;
    color: #ff7300;
    background-color: #fff5ec;
}
.dabiaowadiv .dabiaowaspanA{
	padding-left: 12px;
    color: #A5988F;
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.dabiaowadiv .dabiaowa-cny{
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding-right: 2px;
	padding-left:40px;
}
.dabiaowadiv .dabiaowa-value{
	font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}
.dabiaowadiv .dabiaowa-unit{
	font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #A5988F;
}
.dabiaowadiv .dabiaowaspanAspan1 span{
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding-left:40px;
}
.dabiaowadiv .dabiaowaspanAspan1 .dabiaowa-unit{
	font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #A5988F;
    margin-left: -7px;
}
.dabiaowadiv .dabiaowaspanAspan1{
	font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
/*整箱价显示区域样式*/
.summary-product .pricestatusdiv3A{
	float: none;
	width: 568px;
}
.summary-product .pricestatusdiv3A .luowajiacss3A{
    color: #A5988F;
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.summary-product .pricestatusdiv3B{
	float: none;
	width: 568px;
}
.summary-product .pricestatusdiv3B .qipiliancss3B{
    color: #A5988F;
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
.summary-product .pricestatusdiv3B em{
	padding-left: 66px;
    color: #444;
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
}
#mallPcPrice_t{
	font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}
#mallPcPrice_t span{
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding-right: 2px;
	padding-left:40px;
}
#mallPcPrice_s{
	font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}
#mallPcPrice_s .fd-unit{
	font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #A5988F;
    margin-left: -50px;
}
#mallPcPrice_t .fd-unit{
	font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #A5988F;
    margin-left: -50px;
}
#mallPcPrice_s span{
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	padding-right: 2px;
	padding-left:40px;
}
/**打标信息显示区域样式*/
.qipiliangdiv .dabiaoimgcss{
	border: 1px solid #CCC;
    padding: 2px;
    width: 30px;
    height: 30px;
    margin-left: 28px;
}
.qipiliangdiv .dabiaoimgcss:hover{
	border:2px solid #e4393c;
	cursor: pointer;
}
.qipiliangdiv .samemarginleft{
	margin-left: 10px;
}
#dabiaoxinxieclipss{
	cursor: pointer;
}
/**裸袜中库存数量显示样式*/
.luowapstockdiv{
	margin-left: -80px;
}
.luowapstockdiv .luowastockcount{
    font: 12px/1.5 'Hiragino Sans GB',Tahoma,Arial,"\5b8b\4f53",sans-serif;
    margin-left:7px;
}

.luowadivcss .luowadivcssspan{
	float: left;
	margin-right: 50px;
	color: #222;
}
.dabiaowadivcss,.twojiagdivcss{
	margin-top: 5px;
}
.dabiaowadivcss .dabiaowadivcssspan{
	float: left;
	margin-right: 50px;
	color: #222;
}
.twojiagdivcss .twojiagdivcssspan{
	float: left;
	margin-right: 50px;
	color: #222;
}

/* 快速下单中购买数量 样式 */
.choose-amount {
	width: 80px;
	height: 26px;
	overflow: hidden;
	border: 1px solid #ccc;
	position: relative;
	margin: 8px 10px 0 0;
	float: left;
}
.choose-amount input.btn-reduce {
	bottom: 0px;
	border-bottom: 0px;
}
.choose-amount .btn-reduce {
	width:26px;
	text-align: center;
	height: 26px;
	line-height:6px;
	overflow: hidden;
	background: #f1f1f1;
	color: #666;
	position: absolute;
	right: 56px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size:24px;
	z-index:10;
}
.choose-amount input.btn-add {
	top: -1px;
}
.choose-amount .btn-add{
	width:26px;
	text-align: center;
	height: 26px;
	line-height: 21px;
	overflow: hidden;
	background: #f1f1f1;
	color: #666;
	position: absolute;
	right: -1px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size:20px;
	z-index:10;
}
.choose-amount #buy-num {
	display: block;
	width: 51px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: -3px;
	left: 12px;
	border: 0;
	border: 0;
	text-align: center;
	color: #000;
}

/* 倒计时  显示效果CSS */
#daojishiDiv strong{
	color: #D6000F;
}

.jqzoom_next, .jqzoom_next_2 {
	width: 350px;
	text-align:center;
}

.jqzoom_next_2 {
	position:relative;
	z-index:1000;
}

/* 收藏商品样式CSS */
.jqzoom_next_div {
	width: 70px;
	margin-left: 18px;
	color: #888;
	cursor: pointer;
	display: inline-block;
}

.jqzoom_next_div:hover{
	color: #ff7e18;
}

.jqzoom_share {
	display: none;
	margin-top:-5px;
}

#cateTopId img {height:160px; width:160px}
.class_recommend img {height:180px; width:180px}
#cateTopId div, .class_recommend div {height:36px; overflow:hidden; display:block; text-overflow:ellipsis}
.class_recommend div {margin:0 10px;}
#cateTopId div {margin:0 20px;}