.succeed-border{

	border: 1px solid #ccc;
	width: 1200px; 
	height: 145px;
	margin:100px auto;
	text-align: center;
	position: relative;
	

}
.succeed-border h2{
	font-size: 24px;
	color: #00a0e9;
	margin-top: 20px;
	font-weight: normal;
}

.succeed-border img{

	width: 60px;
	height: 60px;
	position: absolute;
	left: 38%;
	top: 10px;
}
.succeed-border p{
		width: 565px;
		margin: 10px 0 0 540px;
		text-align: left;
		font-size: 18px;
}

.would-like{
	width: 1200px; 
	
	margin:100px auto;
	text-align: center;
	position: relative;
	font-size: 18px;
	top: -50px;

}
.would-like h3{
	margin-bottom: 15px;
	text-indent: -136px;
	color: #666666;
	font-weight: normal;
}
.would-like ul li{
	width: 10px;
	height: 10px;
	border: 1px solid #00a0e9;
	border-radius: 50px;
	background: #00a0e9;
	margin-bottom: 15px;
	margin-left: 570px;
	margin-top: 3px;
}
.would-like a{

	display: block;
	font-size: 14px;
	text-align: left;
	position: absolute;
	width: 200px;
	left: 600px;
	line-height: 10px;
	text-decoration: underline;

}