.qq-online {
	position: fixed;
	right: 0;
	top: 150px;
	overflow: hidden;
	z-index: 999;
}

.mian-img {
	position: fixed;
	top: 150px;
	right: 110px;
	opacity: 0;
	cursor: pointer;
}

.qq-online .closeAd {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.qq-online a {
	display: block;
	width: 110px;
	height: 30px;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
}

.qq-online a:hover {
	color: #E86D00;
}

.kefu1 {
	position: absolute;
	top: 130px;
	left: 32px;
}

.kefu2 {
	position: absolute;
	top: 163px;
	left: 32px;
}

.kefu3 {
	position: absolute;
	top: 195px;
	left: 32px;
}

.kefu4 {
	position: absolute;
	top: 228px;
	left: 32px;
}

/**侧边栏  QQ在线咨询  返回TOP 二维码新样式  add by tzm*/
.right-scroll-small{
	width: 61px;
    overflow: inherit;
	height: 168px;
    position: fixed;
    right:10px;
    bottom: 30px;
    z-index: 1000;
    padding-left: 10px;
}
.right-scroll-small dt{
	height: 190px;
    width: 35px;
    background: #17191c;
    margin-left: 26px;
}
.right-scroll-small dt a{
	display: block;
}
.right-scroll-small .login-icon{
	background: url(http://image10.homedo.com/CSS/images161011/icon-161011.png?v=161017) -278px 0 no-repeat;
	height: 35px;
}
.right-scroll-small dt a:hover{
	background-color: #32c5de;
    text-decoration: none;
}
.right-scroll-small dt .online-kf{
	text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
	background: none;
}
.right-scroll-small .online-kf em{
	display: block;
	width: 35px;
	height: 35px;
	color: #fff;
	line-height: 35px;
	/* background: url(http://image10.homedo.com/CSS/images151205/common-icon.png) -40px -60px no-repeat; */
}
.right-scroll-small dt .top-btn{
	width: 35px;
    height: 35px;
    background: url(http://image10.homedo.com/CSS/images151205/common-icon.png) 0px -60px no-repeat;
}
.right-scroll-small dt .erwm{
	line-height: 0;
    font-size: 0;
    padding: 0;
    height: 35px;
    margin-bottom: 5px;
    background: url(http://image10.homedo.com/CSS/images161011/icon-161011.png?v=161017) -243px 0 no-repeat;
}
.right-scroll-small dt .erwm em{
	display: none;
    width: 143px;
    height: 64px;
    position: absolute;
    right: 42px;
    top: -27px;
}
.right-scroll-small .service-popUp{
	top: -123px;
    left: -69px;
    font-size: 12px;
    width: 105px;
    border-bottom: 2px solid #1cbfda;
    line-height: 30px;
    position: absolute;
}
.right-scroll-small .service-popUp dt{
	width: 105px;
    margin-left: 0;
    height: 123px;
    background: none;
}
.right-scroll-small .service-popUp dd{
	width: 101px;
    height: 30px;
    background: none;
    background-color: #fff;
    border-left: 2px solid #1cbfda;
    /* border-right: 2px solid #1cbfda; */
    line-height: 30px;
}
.right-scroll-small .service-popUp dd a{
	color: #222;
    height: 30px;
    background: #fff url(http://image10.homedo.com/image/20160811/e46b8b87-0b70-4f34-8d09-f7a1ea070c00.png) 15px 8px no-repeat;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding-left: 36px;
}
.right-scroll-small .service-popUp dd a:hover{
	background-color:#f4f4f4;
}
img{
	vertical-align: middle;
    border: 0px;
    margin: 0;
    padding: 0;
}
