.login-top{

		height: 90px;
		background: #fff;
		

}
.login-top img{
	width: 200px;
	height: 60px;
	float: left;
	margin:10px 30px 0 200px;
	line-height:150px;
	
}

.login-top h1{
	
	line-height:90px;
	font-size:20px;
	color:#333333;
}

.sigin-mian{
	height: 600px;
	position: relative;
	overflow: hidden;

}
.sigin-bg{
	height: 600px;
	position: relative;

}
.sigin-bg img{
	width: 1920px;
	height: 600px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
}

.sigin-bg p{
			background: #fff;
		width: 336px;
		height: 481px;
		position:absolute;
		top: 40px;
		left: 29px;
		z-index: 10;
		overflow: auto;
		word-wrap: break-word;


}
.sigin-content{

	background: #fff;
		width:390px;
		height: 546px;
		z-index: 9;
		position:absolute;
		top: 30px;
		left: 200px;

}
.sigin-content h2{
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}

.sigin-content span{
		font-size: 16px;
		text-align: center;
		display: block;
}


.sigin-side p{
		margin: 12px auto;
		width: 350px; 
		height: 34px;
		background:#00a0e9;
		text-align: left;
		line-height: 34px;
		color: #fff;
		text-indent: 20px;
		font-size: 18px;

}
 
 .top-button #caigou{

	width: 149px;
	height: 36px;
	background: #00a0e9;
	font-size: 18px;
	color: #fff;
	border: 0;
	float: left;

	
}
.top-button #gongying{
	width: 147px;
	height: 36px;
	background: #fff;
	font-size: 18px;
	color: #fff#ccc;
	border:0;
	float: right;
	border:0;

	
}
.sigin-side{
		
		width:370px;
		height:534px;
		background:rgba(232,232,232,0.5);
		position:absolute;
		top:138px;
		left:50%;
		margin-left:180px;
		text-align:center;
	
	}

.sigin-side p{
		margin: 12px auto;
		width: 350px; 
		height: 34px;
		background:#00a0e9;
		text-align: left;
		line-height: 34px;
		color: #fff;
		text-indent: 20px;
		font-size: 18px;

}

.insigin-side{
		

}
.sigin-enter{
		margin-top:37px;
		width:350px;
		height:516px;
		background:#fff;
		position:absolute;
		top:-28px;
		left: 10px;
		
		text-align:center;
		
}
.sigin-enter .greet{
		display: block;
		background:#ffffff;
		border:1px solid #00a0e9;
		width:298px;
		height:38px;
		margin: 17px auto 10px ;
		line-height: 38px;
		color:#00a0e9;
		font-size: 20px;
		


}

.sigin-enter input{
		
		background:#ffffff;
		/* width:200px;
		height:36px; */
		margin: 0 auto;
		line-height: 36px;
		color:#999;
		font-size: 12px;
		outline: none;
		border: none;


}
 .sigin-enter .xieyi{
	width: 200px;
	height: 20px;
	border: 0;
	 margin: 15px auto;
	 line-height: 20px;


}

 .sigin-enter .check-put{
		float: left;
		margin-top:-38px;
		margin-left:36px;
		   


}
.xieyi h6 i{
	/* float: right; */
	color:#00a0e9;
}
.sigin-enter .chongzhi{
		background:#00a0e9;
		width:298px;
		height:38px;
		margin: 25px auto 10px ;
		line-height: 38px;
		color:#fff;
		font-size: 18px;
		border: none;
		display:block

}
.password{

	position: relative;
}
.password .huoqu{
	width: 70px;
	height: 38px;
	position: absolute;
	right: 0;
	top: 0;
	color: #666666;
	display: block;
	line-height: 38px;
	background: #ccc;

}
.sigin-enter .name{
	width:298px;
	height:38px;
	margin: 15px auto;
	border: 1px solid #ccc;
	margin-bottom: 13px;
}
.sigin-enter .name span{

	height: 38px;
	display: block;
	line-height: 38px;
	float: left;
	text-indent: 20px;
}
.forget-password{
	width:298px;
	height:38px;
	margin: 0 auto;
	position: relative;
}

.forget-password .forget-left{
		display: block;
		height: 12px;		
		font-size: 12px;
		color:#00a0e9; 
		float: left;

}
.forget-password .forget-right{
	float: right;
	font-size: 12px;
	color:#00a0e9; 
		
}
.verify{
	position: relative;
}
.verify img{
	width: 73px;
	height: 27px;
	position: absolute;
	bottom: 5px;
	right: 0;
}