<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.write.system.SystemAdminWriteDao">
	<resultMap id="SystemAdminResult" type="com.phkj.entity.system.SystemAdmin">
			<result property="id" column="id" />
			<result property="name" column="name" />
			<result property="password" column="password" />
			<result property="roleId" column="role_id" />
			<result property="villageCode" column="village_code"/>
			<result property="createTime" column="create_time" />
			<result property="createUser" column="create_user" />
			<result property="tel" column="tel" />
			<result property="relName" column="rel_name"/>
			<result property="idNo" column="id_no"/>
			<result property="status" column="status" />
	</resultMap>
	
	<delete id="del">
        delete from `system_admin` where `id` = #{id}
	</delete>
	
	<update id="update" parameterType="com.phkj.entity.system.SystemAdmin">
        update `system_admin` 
    	<set>
			<!-- <if test="id != null">`id`= #{id},</if> -->
			<if test="name != null">`name`= #{name},</if>
			<if test="password != null and password !=''">`password`= #{password},</if>
			<if test="roleId != null">`role_id`= #{roleId},</if>
			<if test="villageCode != null">`village_code`= #{villageCode},</if>
			<if test="tel != null">`tel`= #{tel},</if>
			<if test="status != null">`status`= #{status},</if>
			<if test="idNo != null">`id_no` =#{idNo},</if>
			<if test="relName != null">`rel_name` =#{relName}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="save" parameterType="com.phkj.entity.system.SystemAdmin" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`system_admin`
		(
			
			`name`,
			`password`,
			`role_id`,
			`village_code`,
			`create_time`,
			`create_user`,
			`tel`,
			`id_no`,
			`rel_name`,
			`status`
		)
		values
		(
			
			#{name},
			#{password},
			#{roleId},
			#{villageCode},
			#{createTime},
			#{createUser},
			#{tel},
			#{idNo},
			#{relName},
			#{status}
		)
	</insert>
	
</mapper>