<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.read.member.MemberCarDao">
	<resultMap id="MemberCarResult" type="com.phkj.entity.member.MemberCar">
			<result property="id" column="id" />
			<result property="memberId" column="member_id" />
			<result property="villageCode" column="village_code" />
			<result property="village" column="village" />
			<result property="vehicleType" column="vehicle_type" />
			<result property="vehicleStructure" column="vehicle_structure" />
			<result property="vehicleNumber" column="vehicle_number" />
			<result property="createDate" column="create_date" />
			<result property="examineDate" column="examine_date" />
			<result property="examineUserId" column="examine_user_id" />
			<result property="status" column="status" />
			<result property="deleted" column="deleted" />
			<result property="img" column="img" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="MemberCarResult">
		select
		   *
		from `st_applet_member_car`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.phkj.entity.member.MemberCar">
        update `st_applet_member_car` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="memberId != null">`member_id`= #{memberId},</if>
			<if test="vehicleType != null">`vehicle_type`= #{vehicleType},</if>
			<if test="vehicleStructure != null">`vehicle_structure`= #{vehicleStructure},</if>
			<if test="vehicleNumber != null">`vehicle_number`= #{vehicleNumber},</if>
			<if test="createDate != null">`create_date`= #{createDate},</if>
			<if test="examineDate != null">`examine_date`= #{examineDate},</if>
			<if test="examineUserId != null">`examine_user_id`= #{examineUserId},</if>
			<if test="status != null">`status`= #{status},</if>
			<if test="deleted != null">`deleted`= #{deleted}</if>
			<if test="img != null">`img`= #{img}</if>
	    </set>
        where `id` = #{id}
	</update>

	<update id="changeState">
	    update `st_applet_member_car` set `status`= #{status} where id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.phkj.entity.member.MemberCar" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`st_applet_member_car`
		(
			
			`member_id`,
			`village_code`,
			`village`,
			`vehicle_type`,
			`vehicle_structure`,
			`vehicle_number`,
			`create_date`,
			`examine_date`,
			`examine_user_id`,
			`status`,
			`deleted`,
			`img`
		)
		values
		(
			
			#{memberId},
			#{villageCode},
			#{village},
			#{vehicleType},
			#{vehicleStructure},
			#{vehicleNumber},
			#{createDate},
			#{examineDate},
			#{examineUserId},
			#{status},
			#{deleted},
			#{img}
		)
	</insert>

	<sql id="getCondition">
		<where>
			<if test="queryMap.q_vehicle_number != null and queryMap.q_vehicle_number !=''">
				and vehicle_number = #{queryMap.q_vehicle_number}
			</if>
		</where>
	</sql>
	<select id="getMemberCarCount" parameterType="java.util.Map" resultType="Integer">
		select
		count(*)
		from `st_applet_member_car`
		<include refid="getCondition"/>
	</select>

	<select id="getMemberCarList" parameterType="java.util.Map" resultMap="MemberCarResult">
		select
		*
		from `st_applet_member_car`
		<include refid="getCondition"/>
		order by `create_date` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>

	<select id="getMyMemberCarList" parameterType="java.util.Map" resultMap="MemberCarResult">
		select
		*
		from `st_applet_member_car`
		<where>
			<if test="memberId != null and memberId !=''">
				and member_id = #{memberId}
			</if>
			<if test="villageCode != null and villageCode !=''">
				and village_code = #{villageCode}
			</if>
		</where>
		order by `create_date` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
</mapper>