<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phkj.dao.shop.read.member.MemberHouseReadDao">
	<resultMap id="MemberHouseResult" type="com.phkj.entity.member.MemberHouse">
			<result property="id" column="id" />
			<result property="memberId" column="member_id" />
			<result property="region" column="region" />
			<result property="street" column="street" />
			<result property="community" column="community" />
			<result property="village" column="village" />
			<result property="building" column="building" />
			<result property="unit" column="unit" />
			<result property="room" column="room" />
			<result property="identityInformation" column="identity_information" />
			<result property="name" column="name" />
			<result property="idNumber" column="id_number" />
			<result property="phone" column="phone" />
			<result property="createDate" column="create_date" />
			<result property="examineDate" column="examine_date" />
			<result property="examineUserId" column="examine_user_id" />
			<result property="modifyId" column="modify_id" />
			<result property="modifyName" column="modify_name" />
			<result property="status" column="status" />
			<result property="deleted" column="deleted" />
			<result property="searchWord" column="search_word" />
			<result property="img" column="img" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="MemberHouseResult">
		select
		   *
		from `st_applet_member_house`
		where `id` = #{id}
	</select>
	
	<sql id="getCondition">
        <where>
             <if test="queryMap.q_member_name != null and queryMap.q_member_name !=''">
                and member_name = #{queryMap.q_member_name}
          	 </if>
          	 <if test="queryMap.q_search_word != null and queryMap.q_search_word !=''">
                and search_word = #{queryMap.q_search_word}
          	 </if>
        </where>
    </sql>
    
	<select id="getMemberHouseList" parameterType="java.util.Map" resultMap="MemberHouseResult">
		select
		   *
		from `st_applet_member_house`
		<include refid="getCondition"/>
		order by `create_date` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	<select id="getMemberHouseCount" parameterType="java.util.Map" resultType="Integer">
		select
		   count(*)
		from `st_applet_member_house`
		<include refid="getCondition"/>
	</select>
	
</mapper>