<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.order.SendGoodsRecordWriteDao">
	<resultMap id="SendGoodsRecordResult" type="com.ejavashop.entity.order.SendGoodsRecord">
			<result property="id" column="id" />
			<result property="bookingGoodsId" column="booking_goods_id" />
			<result property="sku" column="sku" />
			<result property="deliveredSum" column="delivered_sum" />
			<result property="orderGoodsId" column="order_goods_id" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="SendGoodsRecordResult">
		select
		   *
		from `send_goods_record`
		where `id` = #{id}
	</select>
	
	<select id="getRecordByGoodsId" parameterType="Integer"    resultMap="SendGoodsRecordResult">
	select * from `send_goods_record`
	where `booking_goods_id` = #{bookingGoodsId}
	</select>
	
</mapper>