.focus-img{
	
	height: 30px;
	

}

.focus-img-con{
/* 	position: relative; */
	width: 124px;
	height: 30px;
	margin: 0 auto;
	background-color: #fff;
	 overflow:hidden;
	
}


.focus-img .change-bnt{
	display: block;
	width:40px;
	height:24px;
	position: absolute;
	/* top: 50%; */
	margin-top: -30px;
	color: #888888;
	font-size: 20px;
}
.focus-img .change-bnt.prev-bnt{
	left: 0px;
}
.focus-img .change-bnt.next-bnt{
	right: 0px;
}