.login-head {
	width: 100%;
	height: 145px;
	background: #27cdf2;
}

.login-indead {
	width: 100%;
	height: 40px;
	position: relative;
}

.login-head .left-back {
	width: 13px;
	height: 13px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	position: absolute;
	left:30px;
	top: 40px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.head-login {
	position: absolute;
	left: 65px;
	top: 36px;
	color: #fff;
	font-size: 16px;
}
.head-logo {
	width: 71px;
	height: 71px;
	background: url('../../img/fwc/logo_sign.png') 0 0 no-repeat;
	background-size: 71px 71px;
	margin: 65px auto 0;
	position: absolute;
	left: 50%;
	top: -30px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.login-head h1 {
	font-size: 18px;
	margin-top: 70px;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

.top-button {
	height: 20px;
	margin-right: 45px;
	padding: 25px 0 0 25px;
}

.top-button #caigou {
	width: 50%;
	height: 38px;
	background: #00a0e9;
	font-size: 18px;
	color: #fff;
	border: 0;
	float: left;
}

.top-button #gongying {
	width: 50%;
	height: 38px;
	background: #fff;
	font-size: 18px;
	color: #000;
	float: right;
	border: 0;
}

.form-group {
	/* height: 44px; */
	margin-right: 45px;
	padding: 5px 0 0 25px;
}

.pad10 p {
	width: 100%;
	height: 6px;
	font-size: 16px;
	text-indent: 45px;
	line-height: 48px;
}

.pad10 input {
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 15px;
	text-align: left;
	text-indent: 10px;
}

.yanzhenma {
	background: #27cdf2;
	height: 44px;
	width: 30%;
	border-radius: 5px;
	border: 1px solid #ccc;
	color: #fff;
	font-size: 16px;
	float: right;
	line-height: 44px;
	margin-top: 16px;
}

.captcha-img img {
	width: 73px;
	height: 41px;
	position: absolute;
	right: 0;
	top: 22px;
}

.btn-block {
	margin-right: 42px;
	margin-left: 25px;
	/* padding: 25px 0 0 45px ; */
}

.btn {
	width: 100%;
	height: 44px;
	border-radius: 5px;
	background: #27cdf2;
	margin-top: 15px;
	text-align: center;
	text-indent: 10px;
	font-size: 24px;
	line-height: 44px;
	color: #fff;
	cursor: pointer;
}

.flex {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
}

.flex .flex-forget {
	display: block;
	margin: 30px 0 100px 0;
}