<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.order.OrdersTradeSerialWriteDao">
	<resultMap id="OrdersTradeSerialResult" type="com.ejavashop.entity.order.OrdersTradeSerial">
			<result property="tradeSn" column="trade_sn" />
			<result property="relationOrderSn" column="relation_order_sn" />
			<result property="paymentState" column="payment_state" />
	</resultMap>
	
	
	<delete id="del">
        delete from `orders_trade_serial` where `id` = #{id}
	</delete>
	
	
	<!-- 查询条件 -->
	<sql id="whereConditions">
		where 1=1
		<trim  suffixOverrides="," >
			<if test="tradeSn != null and tradeSn !=''"  > and `trade_sn`= #{tradeSn}</if>
			<if test="relationOrderSn != null and relationOrderSn !=''"  > and `relation_order_sn`= #{relationOrderSn}</if>
			<if test="paymentState != null and paymentState !=''"  > and `payment_state`= #{paymentState}</if>
		</trim>
	</sql>
	
	<update id="update" parameterType="com.ejavashop.entity.order.OrdersTradeSerial">
        update `orders_trade_serial` 
    	<set>
			<if test="tradeSn != null">`trade_sn`= #{tradeSn},</if>
			<if test="relationOrderSn != null">`relation_order_sn`= #{relationOrderSn},</if>
			<if test="paymentState != null">`payment_state`= #{paymentState}</if>
	    </set>
        where `trade_sn` = #{tradeSn}
	</update>
	
	<insert id="save" parameterType="com.ejavashop.entity.order.OrdersTradeSerial" useGeneratedKeys="true" keyProperty="tradeSn" keyColumn="trade_sn">
		insert into 
		`orders_trade_serial`
		(
			`trade_sn`,
			`relation_order_sn`,
			`payment_state`
		)
		values
		(
			#{tradeSn},
			#{relationOrderSn},
			#{paymentState}
		)
	</insert>
	
</mapper>