<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejavashop.dao.shop.write.order.OrdersProductReturnWriteDao">
	<resultMap id="OrdersProductReturnResult" type="com.ejavashop.entity.order.OrdersProductReturn">
			<result property="id" column="id" />
			<result property="ordersId" column="orders_id" />
			<result property="ordersSn" column="orders_sn" />
			<result property="sellerId" column="seller_id" />
			<result property="productCateId" column="product_cate_id" />
			<result property="productId" column="product_id" />
			<result property="productGoodsId" column="product_goods_id" />
			<result property="specInfo" column="spec_info" />
			<result property="productName" column="product_name" />
			<result property="productSku" column="product_sku" />
			<result property="packageGroupsId" column="package_groups_id" />
			<result property="mallGroupsId" column="mall_groups_id" />
			<result property="giftId" column="gift_id" />
			<result property="isGift" column="is_gift" />
			<result property="moneyPrice" column="money_price" />
			<result property="number" column="number" />
			<result property="moneyAmount" column="money_amount" />
			<result property="moneyActSingle" column="money_act_single" />
			<result property="actSingleId" column="act_single_id" />
			<result property="activityId" column="activity_id" />
			<result property="actFlashSaleId" column="act_flash_sale_id" />
			<result property="actFlashSaleProductId" column="act_flash_sale_product_id" />
			<result property="actGroupId" column="act_group_id" />
			<result property="actBiddingId" column="act_bidding_id" />
			<result property="logisticsId" column="logistics_id" />
			<result property="logisticsName" column="logistics_name" />
			<result property="logisticsNumber" column="logistics_number" />
			<result property="shippingTime" column="shipping_time" />
			<result property="closeTime" column="close_time" />
			<result property="systemRemark" column="system_remark" />
			<result property="memberProductBackId" column="member_product_back_id" />
			<result property="memberProductExchangeId" column="member_product_exchange_id" />
			<result property="createTime" column="create_time" />
			<result property="updateTime" column="update_time" />
			<result property="packageFeeTotal" column="package_fee_total" />
			<result property="packageFee" column="package_fee" />
			<result property="productPackageId" column="product_package_id" />
			<result property="productLabelId" column="product_label_id" />
			<result property="labelFeeTotal" column="label_fee_total" />
			<result property="labelFee" column="label_fee" />
			<result property="isSelfLabel" column="is_self_label" />
			<result property="deliveredNum" column="delivered_num" />
			<result property="labelNumber" column="label_number" />
	</resultMap>
	
	<!-- <select id="get" parameterType="Integer" resultMap="OrdersProductReturnResult">
		select
		   *
		from `orders_product_return`
		where `id` = #{id}
	</select> -->
	
	<update id="update" parameterType="com.ejavashop.entity.order.OrdersProductReturn">
        update `orders_product_return` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="ordersId != null">`orders_id`= #{ordersId},</if>
			<if test="ordersSn != null">`orders_sn`= #{ordersSn},</if>
			<if test="sellerId != null">`seller_id`= #{sellerId},</if>
			<if test="productCateId != null">`product_cate_id`= #{productCateId},</if>
			<if test="productId != null">`product_id`= #{productId},</if>
			<if test="productGoodsId != null">`product_goods_id`= #{productGoodsId},</if>
			<if test="specInfo != null">`spec_info`= #{specInfo},</if>
			<if test="productName != null">`product_name`= #{productName},</if>
			<if test="productSku != null">`product_sku`= #{productSku},</if>
			<if test="packageGroupsId != null">`package_groups_id`= #{packageGroupsId},</if>
			<if test="mallGroupsId != null">`mall_groups_id`= #{mallGroupsId},</if>
			<if test="giftId != null">`gift_id`= #{giftId},</if>
			<if test="isGift != null">`is_gift`= #{isGift},</if>
			<if test="moneyPrice != null">`money_price`= #{moneyPrice},</if>
			<if test="number != null">`number`= #{number},</if>
			<if test="moneyAmount != null">`money_amount`= #{moneyAmount},</if>
			<if test="moneyActSingle != null">`money_act_single`= #{moneyActSingle},</if>
			<if test="actSingleId != null">`act_single_id`= #{actSingleId},</if>
			<if test="activityId != null">`activity_id`= #{activityId},</if>
			<if test="actFlashSaleId != null">`act_flash_sale_id`= #{actFlashSaleId},</if>
			<if test="actFlashSaleProductId != null">`act_flash_sale_product_id`= #{actFlashSaleProductId},</if>
			<if test="actGroupId != null">`act_group_id`= #{actGroupId},</if>
			<if test="actBiddingId != null">`act_bidding_id`= #{actBiddingId},</if>
			<if test="logisticsId != null">`logistics_id`= #{logisticsId},</if>
			<if test="logisticsName != null">`logistics_name`= #{logisticsName},</if>
			<if test="logisticsNumber != null">`logistics_number`= #{logisticsNumber},</if>
			<if test="shippingTime != null">`shipping_time`= #{shippingTime},</if>
			<if test="closeTime != null">`close_time`= #{closeTime},</if>
			<if test="systemRemark != null">`system_remark`= #{systemRemark},</if>
			<if test="memberProductBackId != null">`member_product_back_id`= #{memberProductBackId},</if>
			<if test="memberProductExchangeId != null">`member_product_exchange_id`= #{memberProductExchangeId},</if>
			<if test="createTime != null">`create_time`= #{createTime},</if>
			<if test="updateTime != null">`update_time`= now(),</if>
			<if test="packageFeeTotal != null">`package_fee_total`= #{packageFeeTotal},</if>
			<if test="packageFee != null">`package_fee`= #{packageFee},</if>
			<if test="productPackageId != null">`product_package_id`= #{productPackageId},</if>
			<if test="productLabelId != null">`product_label_id`= #{productLabelId},</if>
			<if test="labelFeeTotal != null">`label_fee_total`= #{labelFeeTotal},</if>
			<if test="labelFee != null">`label_fee`= #{labelFee},</if>
			<if test="isSelfLabel != null">`is_self_label`= #{isSelfLabel},</if>
			<if test="deliveredNum != null">`delivered_num`= #{deliveredNum}</if>
			<if test="labelNumber != null">`label_number`= #{labelNumber}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.ejavashop.entity.order.OrdersProductReturn" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`orders_product_return`
		(
			
			`orders_id`,
			`orders_sn`,
			`seller_id`,
			`product_cate_id`,
			`product_id`,
			`product_goods_id`,
			`spec_info`,
			`product_name`,
			`product_sku`,
			`package_groups_id`,
			`mall_groups_id`,
			`gift_id`,
			`is_gift`,
			`money_price`,
			`number`,
			`money_amount`,
			`money_act_single`,
			`act_single_id`,
			`activity_id`,
			`act_flash_sale_id`,
			`act_flash_sale_product_id`,
			`act_group_id`,
			`act_bidding_id`,
			`logistics_id`,
			`logistics_name`,
			`logistics_number`,
			`shipping_time`,
			`close_time`,
			`system_remark`,
			`member_product_back_id`,
			`member_product_exchange_id`,
			`create_time`,
			`update_time`,
			`package_fee_total`,
			`package_fee`,
			`product_package_id`,
			`product_label_id`,
			`label_fee_total`,
			`label_fee`,
			`is_self_label`,
			`delivered_num`,
			`label_number`
		)
		values
		(
			
			#{ordersId},
			#{ordersSn},
			#{sellerId},
			#{productCateId},
			#{productId},
			#{productGoodsId},
			#{specInfo},
			#{productName},
			#{productSku},
			#{packageGroupsId},
			#{mallGroupsId},
			#{giftId},
			#{isGift},
			#{moneyPrice},
			#{number},
			#{moneyAmount},
			#{moneyActSingle},
			#{actSingleId},
			#{activityId},
			#{actFlashSaleId},
			#{actFlashSaleProductId},
			#{actGroupId},
			#{actBiddingId},
			#{logisticsId},
			#{logisticsName},
			#{logisticsNumber},
			#{shippingTime},
			#{closeTime},
			#{systemRemark},
			#{memberProductBackId},
			#{memberProductExchangeId},
			now(),
			now(),
			#{packageFeeTotal},
			#{packageFee},
			#{productPackageId},
			#{productLabelId},
			#{labelFeeTotal},
			#{labelFee},
			#{isSelfLabel},
			#{deliveredNum},
			#{labelNumber}
		)
	</insert>
	
</mapper>