body, div {
	margin: 0;
	padding: 0;
}

body {
	background: #f9fdfe url(../images/bodybg.jpg) repeat-x;
	font-size: 14px;
	color: #404040;
}

h2 {
	color: #fff;
	text-align: center;
	margin-top: 180px;
}

.formbox {
	background: #ceeef9;
	width: 430px;
	border-radius: 4px;
	box-shadow: 1px 2px 3px #8adfe2;
	margin: 0 auto;
	font-size: 12px;
	padding-bottom: 10px;
	margin-top: 40px;
}

.formbox h3 {
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #8adfe2;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.inputbox {
	margin-bottom: 10px;
}

.inputbox label, .inputbox input {
	display: inline-block;
}

.inputbox label {
	width: 150px;
	text-align: right;
	padding-right: 5px;
}

.inputbox input {
	border: solid 1px #FF0000;
	background-color: #f9fdfe;
	width: 200px;
	height: 20px;
	background: url(../images/txt-bg.png) no-repeat;
}

.bottom {
	position: fixed;
	bottom: 10px;
	width: 100%;
	text-align: center;
}